/**
 * Style definition for the Symphony backend
 */

/*--------------------------------------------------------------------------
	Structure
--------------------------------------------------------------------------*/

#wrapper {
	position: relative;
	background: #fff;
}

/* Header */

#header {
	position: relative;
	margin: 0 0 0;
	color: #fff;
	border-bottom: 1px solid #e6e6e6;
	z-index: 9000;
}

#header h1 {
	position: relative;
	padding: 1.8rem;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1;
	background: #282828;
	text-shadow: -0.1rem 0.2rem 0.3rem #111;
	z-index: 10;
}

#header h1 a, #session a {
	color: #e6e6e6;
	color: rgba(255, 255, 255, 0.85);
	border: none;
}

#header h1 a:hover, #header h1 a:focus,
#session a:hover, #session a:focus {
	color: rgba(255, 255, 255, 0.99);
}

#header h1 a:focus,
#session a:focus {
	border-bottom: 0.1rem solid white;
}

/* Session */

#session {
	position: relative;
	float: right;
	margin: -3.1rem 0 0;
	padding: 0 0.9rem;
	z-index: 11;
}

#session li {
	display: inline;
	padding: 0 0.9rem;
}

/* Navigation */

#nav {
	display: block;
	float: left;
	box-sizing: border-box;
	width: 100%;
	min-height: 3.1rem;
	margin: 0;
	padding: 0 0.8rem 0;
	font-size: 12px;
	list-style: none;
	border-bottom: 0.1rem solid #e0e0e0;
	background-image: linear-gradient(to bottom, #efefed 0px, #efefed 0.6rem, #d7d7d2 2.5rem, #d7d7d2 3rem, #bbbbb7 3rem);
	background-size: 100% 3.1rem;
	z-index: 3;
}

#nav ul {
	float: left;
	margin: 0;
	padding: 0;
}

#nav.wide ul.structure {
	float: right;
}

#nav > ul > li {
	display: block;
	position: relative;
	float: left;
	height: 3.1rem;
	padding: 0 1rem;
	color: #555;
	line-height: 3.1rem;
	white-space: nowrap;
	border-right: 0.1rem solid transparent;
	border-left: 0.1rem solid transparent;
	text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.3);
	cursor: default;
	z-index: 11000;
}

#nav > ul > li.active {
	height: 3.1rem;
	color: #fff;
	background-color: #4d78b4;
	background-image: linear-gradient(to bottom, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}

#nav > ul > li:hover, #nav > ul > li.active:hover {
	height: 3.1rem;
	color: #555;
	background: #fff;
	text-shadow: none;
	z-index: 12000;
}

#nav > ul > li:hover:after {
	content: '';
	position: absolute;
	left: -0.1rem;
	bottom: 0;
	width: 100%;
	max-width: 11.8rem;
	height: 0.3re,;
	padding: 0 0.1rem;
	background: #fff;
}

/* Dropdown */

#nav li ul {
	display: none;
	position: absolute;
	top: 3.1rem;
	left: -0.2rem;
	min-width: 12rem;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0.1rem solid rgba(187, 187, 187, 0.5);
	border-top: none;
	border-bottom-right-radius: 0.4rem;
	border-bottom-left-radius: 0.4rem;
	background: #fff;
	box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.03), 0 7px 15px -5px rgba(0, 0, 0, 0.15);
	text-shadow: none;
}

#nav.wide ul.structure li ul {
	left: auto;
	right: -0.2rem;
}

#nav li:hover ul {
	display: block;
}

#nav ul a {
	display: block;
	padding: 0 0.9rem;
	color: #555;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased !important;
	border: 0.1rem solid transparent;
	cursor: pointer;
}

#nav ul a:hover {
	color: #fff;
	border: 0.1rem solid #fff;
	background: #888;
	text-shadow: 0.1rem 0.1rem 0 #807d79;
}

#nav ul ul li:last-child a {
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

/* Context */

#context {
	position: relative;
	clear: both;
	min-height: 3.8rem;
	margin: 0;
	padding: 2.5rem 1.8rem 0;
	color: #000;
	background-color: #f4f4f4;
}

#context:after {
	content: ' ';
	display: block;
	clear: both;
	visibility: hidden;
}

#context h2 {
	float: left;
	padding: 0;
	font-size: 127.28%;
	font-weight: normal;
	line-height: 1.35;
	border-bottom: 0;
}

#context .actions {
	position: absolute;
	top: 2.1rem;
	right: 1.8rem;
	margin: 0;
	padding: 0;
}

#context .actions li {
	float: right;
}

/* Breadcrumbs */

#breadcrumbs nav,
#breadcrumbs p {
	float: left;
	margin: 0;
	padding: 0;
}

#breadcrumbs:after {
	content: ' ';
	display: block;
	clear: both;
	font-size: 0;
	visibility: hidden;
}

#breadcrumbs a,
#breadcrumbs span {
	float: left;
	padding: 0;
	color: #2e2e2e;
	font: 127.28%/1.35 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
	text-shadow: 0 0 0.1rem #fff;
}

#breadcrumbs a {
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
}

#breadcrumbs a:hover,
#breadcrumbs a:focus {
	color: #2e2e2e;
	color: rgba(0, 0, 0, 0.8);
	border-bottom-color: #a9a9a9;
}

#breadcrumbs span {
	padding: 0 0.4rem;
}

#breadcrumbs .inactive span {
	color: #b4b4b4;
}

/* Contents */

#contents {
	position: relative;
	clear: both;
	min-height: 100%;
	padding: 0 0 5rem;
	border-top: 0.1rem solid rgba(191, 191, 183, 0.65);
	background: #fff;
	box-shadow: 0 -0.2rem 0.3rem rgba(0, 0, 0, 0.05);
}

#contents h2 {
	padding: 2rem 1.8rem 1.7rem;
}

#contents h2 span {
	float: left;
}

#contents h2:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

#contents h2 .button {
	margin-top: -0.3rem;
	margin-bottom: -0.2rem;
}

/*--------------------------------------------------------------------------
	Settings
--------------------------------------------------------------------------*/

fieldset.settings {
	position: relative;
	margin: 0 1.8rem 1rem;
	padding: 1rem 0 1rem 27.5rem;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

fieldset.settings > legend {
	position: absolute;
	line-height: 1.5;
	text-indent: -27.5rem;
}

fieldset.settings select {
	width: 100%;
}

fieldset.settings p.help {
	margin: -0.5rem 0 1.5rem;
}

fieldset.settings input + p.help,
fieldset.settings select + p.help {
	margin-top: 1rem;
}

fieldset.settings li .label {
	margin: 1rem 0 1.25rem;
}

fieldset.settings:first-of-type {
	margin-top: 0.5rem;
	border-top: none;
}

fieldset.settings > legend + .help {
	position: absolute;
	width: 22rem;
	margin: 1.75rem 0 0 -27.5rem;
}

fieldset.settings > legend + .help p {
	margin: 0 0 1.5rem;
}

fieldset.settings > *:first-child {
	margin-top: 0;
}

fieldset.settings fieldset {
	margin-top: 0.5rem;
	padding-bottom: 0;
	border-top: 0.1rem solid #ddc;
}

fieldset.settings fieldset legend {
	display: inline;
	margin: 0;
	padding: 0;
	color: #665;
	font-weight: normal;
	line-height: 1.5;
	text-indent: 0;
	background: #fff;
}

fieldset.settings.highlight {
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-right: 1.8rem;
	padding-bottom: 2rem;
	padding-left: 29.3rem;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
	background: #fff9a2;
	-webkit-transition: background 0.25s ease-in;
	transition: background 0.25s ease-in;
}

.single #contents fieldset.highlight + .actions {
	border-top: 0;
}

@media screen and (max-width: 700px) {

	fieldset.settings {
		padding-left: 0;
	}

	fieldset.settings.highlight {
		padding-left: 1.8rem;
	}

	fieldset.settings:first-of-type {
		margin: 1.5rem 1.8rem 1rem;
		border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
	}

	fieldset.settings > legend {
		position: relative;
		padding: 0 1rem 0 0;
		text-indent: 0;
	}

	fieldset.settings > legend + .help {
		position: relative;
		width: auto;
		margin: 0 0 1.5rem;
	}
}

/* Condensed, pickable settings, e. g. email gateways */

.js-active .settings.condensed:not(.pickable) {
	margin-bottom: 0.5rem;
}

.js-active .settings.condensed:not(.pickable) label {
	margin-bottom: 0;
}

.js-active .settings.pickable.condensed {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.js-active .settings.pickable.condensed {
	padding-top: 0;
	border-top: 0;
}

.js-active .settings.pickable.condensed legend {
	display: none;
}

/*--------------------------------------------------------------------------
	Password
--------------------------------------------------------------------------*/

#password {
	margin: 0 0 0 -1.5rem;
	padding: 0;
	border: none;
}

#password legend {
	margin: 0 !important;
	padding: 0 0 0 1.5rem;
	color: #222;
	line-height: 1.5;
	text-shadow: none;
}

#password i {
	position: absolute;
	top: -1rem;
	right: 0;
}

div.password {
	position: absolute;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 0 0 0 27.5rem;
	z-index: 1000;
}

@media screen and (max-width: 700px) {

	div.password {
		padding: 0;
	}
}

/*--------------------------------------------------------------------------
	Index page
--------------------------------------------------------------------------*/

.page-index h2,
.index h2 {
	border: none;
}

.page-index form,
.index form {
	margin: 0;
	padding: 0;
}

.page-index .actions,
.index .actions {
	height: 3.8rem;
	padding: 3rem 1.8rem 0;
	text-align: right;
}

.page-index .actions + ul.page,
.index .actions + ul.page {
	margin-top: -5.8rem;
}

/* Pagination */

ul.page {
	height: 3.6rem;
	margin: -6.1rem 0 0;
	padding: 2.3rem 5rem 0 1.9rem;
	color: #9e9e9e;
	cursor: default;
}

ul.page li {
	display: inline;
	margin-right: 0.75rem;
}

ul.page a {
	margin: 0 -0.67rem;
	padding: 0.67rem;
	border-bottom: none;
}

ul.page form {
	display: inline-block;
	box-sizing: border-box;
	min-height: 2rem;
	padding: 0;
	border: 0.1rem solid transparent;
	border-radius: 0.4rem;
}

ul.page:hover form {
	border-color: #dedede;
}

ul.page form:hover,
ul.page form.active {
	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
}

ul.page form.invalid {
	border-color: rgba(0, 0, 0, 0.4);
	background-color: #fff9a2;
	box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
}

ul.page form.invalid input {
	background-color: #fff9a2;
}

ul.page input {
	height: 20px;
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 1rem;
	line-height: 1;
	text-align: center !important;
	border: none;
	border-radius: 0.4rem;
	box-shadow: none;
	outline: none;
}

ul.page form:hover input {
	color: #9e9e9e;
}

ul.page form.active input,
ul.page input:focus {
	color: #000;
}

ul.page form span {
	visibility: hidden;
}

/* Data Sources */

#blueprints-datasources table td.pages {
	width: 30%;
}

/*--------------------------------------------------------------------------
	Single page
--------------------------------------------------------------------------*/

.field {
	box-sizing: border-box;
	min-height: 4.7rem;
	margin-bottom: 1.5rem;
}

/* Checkboxes */

div.field-checkbox {
	min-height: 1.6rem;
}

div.field-checkbox:first-child {
	margin-top: 2rem;
}

div.field-checkbox + .field:not(.field-checkbox) {
	margin-top: 2.6rem;
}

/* File uploads */

.file input {
	margin: -0.3rem 0;
	font: inherit;
}

.file span.frame {
	margin-top: 0.1rem;
	text-align: left;
}

.file span.frame span {
	float: left;
	overflow: hidden;
	max-width: 50%;
}

.file a {
	word-wrap: break-word;

	overflow-wrap: break-word;
}

.file a,
.file a:hover {
	color: #3f69a5;
}

.file em {
	float: right;
	color: #998;
	font-style: normal;
	border-bottom: 0.1rem solid rgba(153, 153, 136, 0.3);
	cursor: pointer;
}

.file em:hover {
	color: #d42;
	border-bottom-color: rgba(221, 68, 34, 0.3);
}

/* Actions */

.page-single #contents .actions,
.single #contents .actions {
	clear: both;
	margin: 0 1.8rem;
	padding: 1.75rem 0 0;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.page-single #contents .columns .actions,
.single #contents .columns .actions {
	margin: 0;
}

.page-single #contents .actions input,
.single #contents .actions input {
	float: right;
	margin-left: 1rem;
}

.page-single #contents .actions button,
.single #contents .actions button {
	float: left;
	margin-left: 0;
}

/*--------------------------------------------------------------------
	Misc
--------------------------------------------------------------------*/

#utilities > li {
	min-height: 3rem;
	padding: 0 1rem;
	line-height: 3rem;
}

#utilities > li:nth-child(2n) {
	background: #fff;
}

#utilities > li.selected {
	background: #668abe;
}

#version {
	float: left;
	margin: 3.3rem 0 0 1.9rem;
	color: #9e9e9e;
}

.actions #version {
	margin: 0.5rem 0 0;
}

#fields p.help.toggle a {
	color: #808080;
	font-weight: normal;
}

/* JavaScript interactions */

.js-animate {
	pointer-events: none;
}
