/**
 * System notification
 *
 * @since Symphony 2.3
 */


/*-----------------------------------------------------------------------------
	Notifier
-----------------------------------------------------------------------------*/

.notifier {
	overflow: hidden;
	border-bottom: 0.1rem solid #575757;
	background: #383838;
}

.notifier nav {
	display: block;
	position: absolute;
	top: 0;
	right: 1.8rem;
	padding: 0.4rem 0;
	cursor: pointer;
}

.notifier nav:before {
	content: '\2193';
	padding-right: 0.3rem;
	opacity: 0.2;
}

.notifier .notice:last-child nav:before {
	content: '\2191';
}

.notifier nav:hover:before {
	opacity: 0.5;
}

@keyframes success {
	to {
		color: #9b9b9b;
		border-color: #575757;
		background-color: #383838;
	}
}

@keyframes successlink {
	to {
		color: #bdc3c3;
		border-color: #7c7c7c;
	}
}

/*-----------------------------------------------------------------------------
	Message types
-----------------------------------------------------------------------------*/

.notice {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0.4rem 9rem 0.3rem 1.8rem;
	color: #9b9b9b;
	border-bottom: 0.1rem solid #575757;
	background: #383838;
}

.notice a {
	margin: 0 0.3rem;
	color: #bdc3c3;
	border-bottom: 0.1rem solid rgba(189, 195, 195, 0.2);
}

.notice a:hover,
.notice a:active,
.notice a:focus {
	color: #e4ece4;
	border-color: #9b9b9b;
}

/* Success messages */

.notice.success {
	color: #6d7841;
	border-color: #90c349;
	background-color: #bfdc96;
	animation: success 0.5s ease-out 10s 1 forwards;
}

.notice.success a {
	color: #4e5b39;
	border-color: #a1bf7e;
	animation: successlink 0.5s ease-out 10s 1 forwards;
}

.notice.success a:hover {
	color: #333c25;
	border-color: #4e5b39;
}

/* Errors messages */

.notice.error {
	color: #bd7053;
	border-color: #e7a973;
	background-color: #fff9a2;
}

.notice.error a {
	color: #b02d3c;
	border-bottom: 0.1rem solid #eed08a;
}

.notice.error a:hover {
	color: #87232e;
	border-bottom: 0.1rem solid #b02d3c;
}
