#drawer-filtering .frame {
	border: none;
}

#drawer-filtering .frame.empty {
	height: 1rem;
}

#drawer-filtering .instance {
	border-bottom: 0.1rem solid #e7e7e7;
}

#drawer-filtering .frame-header {
	padding: 0.8rem 0 0.3rem;
	border: none;
	box-shadow: none;
}

#drawer-filtering .destructor {
	right: 0;
}

#drawer-filtering .content {
	padding: 0 0 1rem;
}
