.calendar {
	position: relative;
	padding-bottom: 0.5rem;
	border: 0.1rem solid #c5c5c5;
	border-radius: 0.4rem 0.4rem 0 0;
	background-color: #fcfcfc;
	background-color: #f5f5f5;
	box-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.15);
}

.suggestions .calendar {
	box-shadow: none;
	border: none;
}

/* Pagination */

.calendar .clndr-previous-button,
.calendar .clndr-next-button {
	position: absolute;
	top: 0.2rem;
	left: 0.4rem;
	width: 3rem;
	height: 3rem;
	text-indent: -1000em;
	border: none;
	background: url(../img/symphony.calendar.svg) 0 -3rem no-repeat;
	background-size: 3rem 9rem;
	opacity: 0.3;
}

.calendar .clndr-next-button {
	left: auto;
	right: 0.4rem;
	background-position: 0 -6rem;
}

.calendar .clndr-previous-button:hover,
.calendar .clndr-next-button:hover {
	opacity: 1;
}

/* Switch */

.calendar .switch {
	position: absolute;
	top: 0.8rem;
	left: 50%;
	float: left;
	overflow: hidden;
	width: 18rem;
	height: 2rem;
	margin: 0 0 0 -9rem;
	border: none;
	border-radius: 0.4rem;
	background: none;
	cursor: pointer;
	z-index: 2000;
}

.calendar .select {
	top: calc(-2.2rem * 6 + 0.3rem);
	overflow: visible;
	height: auto;
	border: 0.1rem solid #b3b3b3;
	border-right-color: #a6a6a6;
	border-bottom-color: #999;
	border-left-color: #a6a6a6;
	border-radius: 0.4rem;
	background: #fcfcfc;
	box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.35);
}

.calendar .months,
.calendar .years {
	display: block;
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 8rem;
	margin: calc(-2.2rem * 6 - 0.5rem) 0 0;
	padding: 0.25rem 0.15rem 0.25rem 0.25rem;
	font-size: 1.2rem;
	border: none;
	border-radius: 0.4rem;
}

.calendar .months {
	width: 10rem;
	text-align: right;
	border-right: 0.1rem solid transparent;
}

.calendar .months::before,
.calendar .years::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 3rem;
	height: 3rem;
	margin-top: -1.5rem;
	background: url(../img/symphony.calendar.svg) 0 0 no-repeat;
	opacity: 0.3;
}

.calendar .years::before {
	left: auto;
	right: 0;
}
.calendar .switch:hover .months::before,
.calendar .switch:hover .years::before {
	opacity: 1;
}

.calendar .select .months::before,
.calendar .select .years::before {
	display: none;
}

.calendar .months li,
.calendar .years li {
	position: relative;
	box-sizing: border-box;
	height: 2.2rem;
	padding: 0 0.4rem;
	line-height: 2.2rem;
	border: none;
	border-radius: 0.2rem 0 0 0.2rem;
	background: none;
	cursor: pointer;
	z-index: 3000;
}

.calendar .years li {
	border-radius: 0 0.2rem 0.2rem 0;
}

.calendar .select .months,
.calendar .select .years {
	overflow: hidden;
	margin: 0;
	background: #fcfcfc;
}

.calendar .select .months {
	border-color: rgba(0, 0, 0, 0.1);
}

.calendar .select ul:hover li:nth-child(7) {
	color: #000;
	background: #fff;
}

.calendar .select ul li:nth-child(7) {
	color: #fff;
	background: #668abe;
}

.calendar .select ul li:hover {
	color: #fff !important;
	background: #668abe !important;
}

/* Sheets */

.calendar table {
	margin-top: 3.3rem;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.075);
	border-collapse: separate;
	background-color: #f5f5f5;
}

.suggestions .calendar table {
	background-color: #fff;
}

.calendar thead td {
	color: #333331;
	text-transform: uppercase;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
	background-color: #fcfcfc;
}

.calendar tr,
.calendar td {
	height: 3.3rem;
	padding: 0;
	border: none;
	background-color: inherit;
}

.calendar tr:first-of-type td {
	border-top: 0.1rem solid rgba(0, 0, 0, 0.025);
}

.calendar tbody tr:first-of-type td {
	padding-top: 0.5rem;
}

.calendar td {
	width: 14.2857142857%;
	text-align: center;
	vertical-align: middle;
}

.calendar .day {
	display: inline-block;
	box-sizing: boder-box;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.3rem;
	border: 0.1rem solid transparent;
	border-radius: 50%;
	cursor: pointer;
}

.calendar .day:hover {
	border-color: #c5c5c5;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.calendar .today,
.calendar .today:hover {
	border-color: #c5c5c5;
	background: #fff;
}

.calendar .last-month,
.calendar .next-month {
	color: rgba(0, 0, 0, 0.2);
}

.calendar .active,
.calendar .active:hover {
	color: #fff;
	border-width: 0.2rem;
	border-color: #fff;
	background: #668abe;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

/* Storage */

.calendar + input,
.calendar + input:focus {
	height: 3.3rem;
	margin-top: 0;
	padding: 0.6rem 1rem;
	border-top: none;
	border-radius: 0 0 0.4rem 0.4rem;
}
