[submodule "extensions/export_ensemble"]
	path = extensions/export_ensemble
	url = git://github.com/pointybeard/export_ensemble.git
[submodule "extensions/markdown"]
	path = extensions/markdown
	url = git://github.com/pointybeard/markdown.git
[submodule "extensions/maintenance_mode"]
	path = extensions/maintenance_mode
	url = git://github.com/pointybeard/maintenance_mode.git
[submodule "extensions/selectbox_link_field"]
	path = extensions/selectbox_link_field
	url = git://github.com/pointybeard/selectbox_link_field.git
[submodule "extensions/jit_image_manipulation"]
	path = extensions/jit_image_manipulation
	url = git://github.com/pointybeard/jit_image_manipulation.git
[submodule "extensions/profiledevkit"]
	path = extensions/profiledevkit
	url = git://github.com/symphony/profiledevkit.git
[submodule "extensions/debugdevkit"]
	path = extensions/debugdevkit
	url = git://github.com/symphony/debugdevkit.git
