/* Framework */

form {
	position: relative;
	overflow: hidden;
	font-size: 1.1em;
}
h1 {
	margin: 0;
	padding: 1.1em 1em;
	background: #292929 url('images/shadows.png') 0 -102px repeat-x;
	color: #d5d5d5;
	line-height: 1em;
}
h1 a, #session a {
	color: #c6c6c6;
	text-decoration: none;
}
h1 a:hover,
#session a:hover {
	color: #a5a5a5;
}

/* Navigation */
#nav {
	z-index: 3;
	position: relative;
	float: left;
	width: 100%;
	background-color: #363636;
	color: #fff;
	white-space: nowrap;
	list-style: none;
	line-height: 1.5em;
	margin: 0 0 1em 0;
}

#nav li {
	position:relative;
	float: left;
	padding: .75em 1.3em;
	cursor: pointer;
}

#nav #nav-system, #nav #nav-blueprints, #nav #nav-expand {float: right;}

#nav li.active {background-color: #4a4a4a;}
#nav > li:hover {background-color: #121212;}

#nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}

#nav li a:hover {
	color:#81b934;
}

#nav ul {
	position: absolute;
	top: 3em;
	left: -999em;
	margin: 0;
	width: 12em;
	padding-left: 0;
	background-color: #121212;
	list-style: none;
	text-transform: none;
	font-weight: normal;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 5;
}

#nav #nav-system ul, #nav #nav-blueprints ul {
	left: auto;
	right: -999em;
}

#nav li:hover ul {left:0;}
#nav #nav-system:hover ul, #nav #nav-blueprints:hover ul {right: 0;}

#nav ul li {
	width: 12em;
	padding: 0;
}

#nav ul li a {
	display: block;
	padding: .75em 1.3em;
}

#nav ul li:last-child a {
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* Expanded Navigation */
#nav.expanded li {width:11em;font-weight:bold;cursor:default;}
#nav.expanded #nav-expand {width: auto;}
#nav.expanded li ul li {font-weight:normal;}

#nav.expanded li.active, #nav.expanded li a:hover, #nav.expanded > li:hover {background-color:transparent;}

#nav.expanded ul, #nav.expanded #nav-system ul, #nav.expanded #nav-blueprints ul, #nav.expanded li:hover ul {
    position: relative;
    float: left;
    top: 0;
    left: auto;
    right: auto;
    margin: .5em 0;
    background-color: transparent;
}

#nav.expanded ul li a {padding: 0;color: #aaa;}
#nav.expanded ul li a:hover {color: #fff;}

/* Session */
#session {
	position: relative;
	float: right;
	margin: -3.1em 1em 0 0;
	text-align: right;
	color: #fff;
	line-height: 2.3em;
}
#session li {
	display: inline;
	margin-right: 12px;
}

/* System Messages */
#notice {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0 0.83em 0;
	background-color: #e4e4e4;
	color: #555;
	font-size: 90.91%;
	line-height: 2.75em;
}
#notice.error {
	background-color: #ffb;
}
#notice.success {
	background-color: #ddf6bb;
}
#notice a,
#notice button {
	color: #999;
	margin-left: 0.5em;
}
#notice a:hover,
#notice button:hover {
	color: #332;
}
#notice.error a,
#notice.error button {
	color: #d55;
}
#notice.error a:hover,
#notice.error button:hover {
	color: #912712;
}
#notice.success a:hover,
#notice.success button:hover {
	color: #111;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/* Common Vocabulary */
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #887;
}
.irrelevant {
	display: none;
}
.wrapper {
	height: 0;
	overflow: hidden;
}
.selected {
	border-color: #617dc5;
	background-color: #5273c0;
}
.movable {
	border-color: #998;
	background-color: #887;
}
.selected,
.selected a,
.selected td,
.movable,
.movable a,
.movable td {
	color: #fff;
}
.movable,
.movable *,
.orderable tbody {
	cursor: move;
}
.selected h4 i,
.selected label i,
.selected .inactive {
	color: #abe;
}
.movable h4 i,
.movable label i,
.movable .inactive {
	color: #ccb;
}

/* Code */
code {
	font: 110%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}
pre {
	position: relative;
	left: 275px;
	margin: 0 0 1.75em -275px;
	width: 100%;
	color: #474742;
	white-space: normal;
	font: inherit;
}
pre code {
	display: block;
	border: 1px dashed #a1a19a;
	padding: 5px 7px;
	overflow: auto;
	white-space: pre;
}

/* Buttons */
a.button {
	background-color: #597bc6;
	color: #fff;
	float:right;
	padding: .15em .5em;
	margin: 0;
	line-height: 2em;
	height: 2em;
	font-size: .7em;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
}
a.button:hover,
a.button.active {
	background-color: #222;
}
a.create {
	background-color: #81b934;
}
#session .button {
	font-size: 1em;
	background-color:#121212
	}
	#session .button:hover {background-color:#000;color:#fff;}
	
/* Subhead */

.subhead {
    margin: -1em 0 0;
    padding: 0 1.3em .5em;
    line-height: 3em;
    list-style: none;
    background: transparent url('images/shadows.png') 0 -9.7em repeat-x;
    color: #777;
}

.subhead li {
    display: inline;
    line-height: 3em;
}

.subhead li a {
    padding: 1em;
}
