/* Framework */
html,
body {
	height: 100%;
}
form {
	position: relative;
	padding: 0 32px;
	min-height: 100%;
}
h1 {
	margin: 0 -32px;
	padding: 19px 65px;
	background: #353533 url("images/logo.png") 20px 50% no-repeat;
	color: #fff;
	text-shadow: -1px 2px 3px #111;
}
h1 a {
	color: #fff;
	text-decoration: none;
}
h1 a:hover,
#usr a:hover {
	color: #ccb;
}

/* Navigation */
#nav {
	position: relative;
	z-index: 1;
	float: left;
	margin: -8px -32px 9px;
	padding: 8px 32px;
	width: 100%;
	background: url("images/navigation.png") repeat-x;
	color: #646464;
	list-style: none;
	text-transform: uppercase;
	font: bold 90.91%/2px Lucida Grande, Leelawadee, Lucida Sans Unicode, sans-serif;
}
#nav > li {
	position: relative;
	float: left;
	height: 2px;
	padding: 14px 10px;
}
#nav > li:hover,
#nav > li.active {
	background: #597bc6 url("images/navigation-active.png") repeat-x;
	color: #fff;
}
#nav > li:hover {
	z-index: 1;
	background-color: #818072;
	background-position: 0 100%;
}
#nav ul {
	display: none;
	position: absolute;
	top: 25px;
	left: 5px;
	margin-left: 0;
	border: 1px solid #eee;
	border-color: #fdfdfd #f1f1f1 #d2d2d2 #ececec;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	list-style: none;
	text-transform: none;
	font-weight: normal;
	font-size: 1.3em;
	line-height: 1.5em;
}
#nav li:hover ul {
	display: block;
}
#nav a {
	display: block;
	padding: 0.67em 10px;
	color: #444;
	text-decoration: none;
	white-space: pre;
}
#nav a:hover {
	background-color: #887;
	color: #fff;
	opacity: 1;
}

/* User */
#usr {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px 32px;
	background: #353533 url("images/navigation.png") 0 -38px repeat-x;
	text-align: right;
	text-shadow: -1px 2px 3px #111;
	color: #fff;
}
#usr li {
	display: inline;
	margin-left: 0.5em;
}
#usr a {
	padding: 5px;
	border: none;
	text-decoration: none;
	color: #fff;
}

/* System Messages */
#notice {
	margin: 0 -32px;
	border-bottom: 1px solid #887;
	padding: 0 0.83em;
	background-color: #7f7f72;
	color: #e1e1d6;
	font-size: 90.91%;
	line-height: 2;
}
#notice.error {
	border-color: #cc8;
	background-color: #ffb;
	color: #874;
}
#notice a,
#notice button {
	color: #fff;
}
#notice a:hover,
#notice button:hover {
	color: #332;
}
#notice.error a,
#notice.error button {
	color: #d55;
}
#notice.error a:hover,
#notice.error button:hover {
	color: #610;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/* Common Vocabulary */
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #887;
}
.irrelevant {
	display: none;
}
.wrapper {
	margin: 0 -32px;
	padding: 0 32px;
	height: 0;
	overflow: hidden;
}
.odd,
.odd td {
	background-color: #f5f5f3;
}
.selected,
.selected td {
	border-color: #617dc5 !important;
	background-color: #5273c0;
}
.selected.odd,
.selected.odd td {
	background-color: #5677c3;
}
.movable,
.movable td,
.movable.odd,
.movable.odd td {
	border-color: #998;
	background-color: #887;
}
.selected,
.selected a,
.selected td,
.movable,
.movable a,
.movable td {
	color: #fff;
}
.movable,
.movable *,
.orderable tbody {
	cursor: move;
}
.selected h4 i,
.selected label i,
.selected .inactive {
	color: #abe;
}
.movable h4 i,
.movable label i,
.movable .inactive {
	color: #ccb;
}

/* Buttons */
a.button {
	position: absolute;
	right: 0;
	bottom: 2px;
	padding-top: 15px;
	height: 0;
	width: 0;
	overflow: hidden;
	background-color: #597bc6;
	color: #fff;
}
a.button:hover,
a.button.active {
	background-color: #222;
}
a.create {
	padding-left: 66px;
	background: #81b934 url("images/create.png");
}
a.configure {
	padding-left: 60px;
	background-image: url("images/configure.png");
}