/* Framework */

form {
	position: relative;
	overflow: hidden;
	font-size: 1.1em;
}
h1 {
	margin: 0;
	padding: 1.1em 1em;
	background: #262626 url('images/shadows.png') 0 -102px repeat-x;
	color: #d5d5d5;
	line-height: 1em;
}
h1 a, #session a {
	color: #c6c6c6;
	text-decoration: none;
}
h1 a:hover,
#session a:hover {
	color: #a5a5a5;
}

/* Navigation */
#nav {
	z-index: 3;
	position: relative;
	float: left;
	width: 100%;
	background-color: #292929;
	color: #fff;
	white-space: nowrap;
	list-style: none;
	line-height: 1.5em;
	margin: 0 0 1em 0;
}

#nav li {position:relative; float: left;}
#nav #nav-system, #nav #nav-blueprints {float: right;}

#nav a {
	display: block;
	padding: .75em 1.3em;
	color: #fff;
	text-decoration: none;
}

/*#nav li a:hover,
#nav li.active a {
	background-color: #363636;
	color: #fff;
}*/

#nav ul {
	position: absolute;
	top: 2.7em;
	left: -999em;
	margin: 0;
	min-width: 120px;
	padding-left: 0;
	background-color: #111;
	list-style: none;
	text-transform: none;
	font-weight: normal;
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#nav #nav-system ul, #nav #nav-blueprints ul {
	left: auto;
	right: -999em;
}

#nav ul a {width:100%;}

/* Session */
#session {
	position: relative;
	float: right;
	margin: -3.1em 1em 0 0;
	text-align: right;
	color: #fff;
	line-height: 2.3em;
}
#session li {
	display: inline;
	margin-right: 12px;
}

/* System Messages */
#notice {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0 0.83em 0;
	background-color: #e4e4e0;
	color: #555;
	font-size: 90.91%;
	line-height: 2.5;
}
#notice.error {
	background-color: #ffb;
	border-top: 3px solid #cc8;	
}
#notice.success {
	background-color: #ddf6bb;
	border-top: 3px solid #90c349;
}
#notice a,
#notice button {
	color: #999;
	margin-left: 0.5em;
}
#notice a:hover,
#notice button:hover {
	color: #332;
}
#notice.error a,
#notice.error button {
	color: #d55;
}
#notice.error a:hover,
#notice.error button:hover {
	color: #912712;
}
#notice.success a:hover,
#notice.success button:hover {
	color: #111;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/* Common Vocabulary */
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #887;
}
.irrelevant {
	display: none;
}
.wrapper {
	height: 0;
	overflow: hidden;
}
.selected {
	border-color: #617dc5;
	background-color: #5273c0;
}
.movable {
	border-color: #998;
	background-color: #887;
}
.selected,
.selected a,
.selected td,
.movable,
.movable a,
.movable td {
	color: #fff;
}
.movable,
.movable *,
.orderable tbody {
	cursor: move;
}
.selected h4 i,
.selected label i,
.selected .inactive {
	color: #abe;
}
.movable h4 i,
.movable label i,
.movable .inactive {
	color: #ccb;
}

/* Code */
code {
	font: 110%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}
pre {
	position: relative;
	left: 275px;
	margin: 0 0 1.75em -275px;
	width: 100%;
	color: #474742;
	white-space: normal;
	font: inherit;
}
pre code {
	display: block;
	border: 1px dashed #a1a19a;
	padding: 5px 7px;
	overflow: auto;
	white-space: pre;
}

/* Buttons */
a.button {
	background-color: #597bc6;
	color: #fff;
	float:right;
	padding: .15em .5em;
	margin: 0;
	line-height: 2em;
	height: 2em;
	font-size: .7em;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
}
a.button:hover,
a.button.active {
	background-color: #222;
}
a.create {
	background-color: #81b934;
}
#session .button {
	font-size: 1em;
	background-color:#161616;
	}
	#session .button:hover {background-color:#363636;}
