/* Framework */
html,
body {
	height: 100%;
}
form {
	position: relative;
	padding: 0 19px;
	min-height: 100%;
}
h1 {
	margin: 0 -19px;
	padding: 20px 19px;
	background: #353530;
	color: #fff;
	text-shadow: -1px 2px 3px #111;
	font-weight: bold;
}
h1 a {
	color: #fff;
	text-decoration: none;
}
h1 a:hover,
#usr a:hover {
	color: #ccb;
}

/* Navigation */
#nav {
	position: relative;
	z-index: 3;
	float:  left;
	margin: -5px 0 2.8em -19px;
	padding: 5px 38px 23px 0;
	width: 100%;
	background: url("images/navigation.png") 0 -60px repeat-x;
	color: #646464;
	white-space: nowrap;
	list-style: none;
	text-transform: uppercase;
	font: bold 90.91%/2px Lucida Grande, Leelawadee, Lucida Sans Unicode, sans-serif;
}
html.active #nav {
	margin-bottom: 1.3em;
	padding-bottom: 5px;
}
#nav > li {
	position: relative;
	float: left;
	margin: 0 -19px 0 19px;
	padding: 14px 10px;
	height: 2px;
}
#nav > li.active {
	position: static;
}
html.active #nav > li {
	position: static;
}
#nav > li:hover,
html #nav > li.active {
	background: #517ca6 url("images/navigation.png") repeat-x;
	color: #fff;
}
#nav > li:hover,
html.active #nav > li:hover {
	background-color: #7e7e70;
	background-position: 0 -30px;
}
html.active #nav > li:hover {
	position: relative;
}
#nav ul {
	padding-left: 0;
	list-style: none;
	text-shadow: -1px 2px 3px #ddd;
	text-transform: none;
	font-size: 110%;
	line-height: 1.5;
}
#nav > li.active ul {
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	margin: 0;
	border-bottom: 1px solid #e6e6e5;
	padding: 10px 19px 8px;
	overflow: hidden;
	background: #f5f5f4 url("images/navigation.png") 0 -96px repeat-x;
}
html.active #nav ul {
	display: none;
	position: absolute;
	top: 25px;
	right: auto;
	left: 5px;
	margin: 0;
	border: 1px solid;
	border-color: #fdfdfd #f1f1f1 #d2d2d2 #ececec;
	padding: 0;
	background: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	text-shadow: none;
	font-weight: normal;
	font-size: 130%;
	line-height: 2.5;
}
html.active #nav li:hover ul {
	display: block;
}
#nav > li.active li {
	display: inline;
	margin-right: 1em;
}
html.active #nav > li li {
	display: block;
	margin-right: 0;
}





#nav a {
	display: none;
	text-decoration: none;
}
#nav a:first-child {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
}
#nav > li.active a {
	display: inline;
	position: static;
	text-indent: 0;
}
html.active #nav a {
	display: block;
	position: static;
	padding: 0 0.77em;
	color: #444;
	text-indent: 0;
}
html.active #nav a:hover {
	background-color: #7e7e70;
	color: #fff;
}


/* User */
#usr {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px 12px;
	background: #353530 url("images/navigation.png") 0 -95px repeat-x;
	text-align: right;
	text-shadow: -1px 2px 3px #111;
	color: #fff;
}
#usr li {
	display: inline;
}
#usr a {
	padding: 5px;
	border: none;
	text-decoration: none;
	color: #fff;
}

/* System Messages */
#notice {
	margin: 0 -19px;
	border-bottom: 1px solid #887;
	padding: 0 0.83em;
	background-color: #7f7f72;
	color: #e1e1d6;
	font-size: 90.91%;
	line-height: 2;
}
#notice.error {
	border-color: #cc8;
	background-color: #ffb;
	color: #874;
}
#notice a,
#notice button {
	color: #fff;
}
#notice a:hover,
#notice button:hover {
	color: #332;
}
#notice.error a,
#notice.error button {
	color: #d55;
}
#notice.error a:hover,
#notice.error button:hover {
	color: #610;
}
#notice button {
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

/* Common Vocabulary */
.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #887;
}
.irrelevant {
	display: none;
}
.wrapper {
	margin: 0 -19px;
	padding: 0 19px;
	height: 0;
	overflow: hidden;
}
.selected,
.selected td {
	border-color: #617dc5 !important;
	background-color: #5273c0 !important;
}
.movable,
tr.movable td,
tr.movable:nth-child(odd) td {
	border-color: #998;
	background-color: #887;
}
.selected,
.selected a,
.selected td,
.movable,
.movable a,
.movable td {
	color: #fff;
}
.movable,
.movable *,
.orderable tbody {
	cursor: move;
}
.selected h4 i,
.selected label i,
.selected .inactive {
	color: #abe;
}
.movable h4 i,
.movable label i,
.movable .inactive {
	color: #ccb;
}

/* Code */
code {
	font: 115%/1.5 Monaco, Consolas, Andale Mono, Lucida Console, monospace;
	font-size-adjust: 0.5;
}
pre {
	position: relative;
	left: 275px;
	margin: 0 0 1.75em -275px;
	width: 100%;
	color: #474742;
	white-space: normal;
	font: inherit;
}
pre code {
	display: block;
	border: 1px dashed #a1a19a;
	padding: 5px 7px;
	overflow: auto;
	white-space: pre;
}

/* Buttons */
a.button {
	position: absolute;
	right: 0;
	bottom: 2px;
	padding-top: 15px;
	height: 0;
	width: 0;
	overflow: hidden;
	background-color: #597bc6;
	color: #fff;
}
a.button:hover,
a.button.active {
	background-color: #222;
}
a.create {
	padding-left: 66px;
	background: #81b934 url("images/create.png");
}
a.configure {
	padding-left: 60px;
	background-image: url("images/configure.png");
}