/*--------------------------------------------------------------------------
	Globals - Miscellaneous
--------------------------------------------------------------------------*/

body {
	background: #fff;
	color: #222;
}
#wrapper {
	background: #F4F4F4;
}
h3 {
	font-weight: bold;
}
pre {
	color: #474742;
	white-space: normal;
	font: inherit;
}
pre code {
	border: 1px dashed #a1a19a;
	padding: 5px 7px;
	overflow: auto;
}
i, var {
	color: #a9a9a9;
	text-shadow: none;
	font-style: normal;
}
legend {
	padding: 0;
	color: rgba(0, 0, 0, 0.65);
	font-weight: bold;
}
label {
	display: block;
	position: relative;
}
label > i {
	position: absolute;
	right: 0;
	top: 0;
}

/*--------------------------------------------------------------------------
	Globals - Tables
--------------------------------------------------------------------------*/

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 8px;
}
table.fixed {
	table-layout: fixed;
	word-wrap: break-word;
}
th {
	padding-right: 19px;
	color: rgba(0, 0, 0, 0.6);
	text-align: left;
	font-weight: normal;
	line-height: 2;
	white-space: nowrap;
}
td {
	border: 1px solid #e6e6e5;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
	background-color: #f5f5f5;
}
th:first-child,
td:first-child {
	padding-left: 19px;
}
tr:nth-child(even) td {
	background-color: transparent;
}
tbody a {
	padding: 0.67em 0;
}
table input {
	float: right;
	margin-right: 19px;
}
th span {
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 90%;
}
th a,
th a:hover,
th a:hover:after {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
}
th a:after {
	color: rgba(0, 0, 0, 0.2);
}
th a:active,
th a.active,
th a.active:after {
	color: #808080;
}
th a:after,
th a.active:hover:after,
th a.active[href$=asc]:after {
	margin-left: 3px;
	content: "\2193"
}
th a.active:after,
th a[href$=asc]:after,
th a.active[href$=asc]:hover:after {
	content: "\2191";
}
table.busy td {
	border-top: 1px solid #e6e6e5;
	border-bottom: 1px solid #e6e6e5;
	background-color: #fff;
}
table.busy tr:nth-child(odd) td {
	border-top: 1px solid #e6e6e5;
	border-bottom: 1px solid #e6e6e5;
	background-color: #f5f5f4;
}
table.busy a {
	color: #5072bf;
}
table + fieldset {
	margin-top: 50px !important;
}

/* Selectable */

table.selectable input {
	display: none;
}
tr.selected td {
	background-color: #668abe;
	background-image: -webkit-linear-gradient(top, #668abe, #5c83ba);
	background-image:    -moz-linear-gradient(top, #668abe, #5c83ba);
	background-image:     -ms-linear-gradient(top, #668abe, #5c83ba);
	background-image:      -o-linear-gradient(top, #668abe, #5c83ba);
	background-image:   linear-gradient(to bottom, #668abe, #5c83ba);
	border-bottom: 1px solid #7492bc;
	border-top: 1px solid #4D78B4;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
tr.selected td,
tr.selected a,
tr.selecting td,
tr.selecting a {
	color: #fff;
}
tr.selected .inactive {
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 1px 1px rgb(63, 105, 165);
}

/* Orderable */

tr.ordering {
	cursor: move;
}
tr.ordering td,
tr:nth-child(odd).ordering td {
	background-color: #4870a9;
	background-image: -webkit-linear-gradient(top, #4870a9, #446a9f);
	background-image:    -moz-linear-gradient(top, #4870a9, #446a9f);
	background-image:     -ms-linear-gradient(top, #4870a9, #446a9f);
	background-image:      -o-linear-gradient(top, #4870a9, #446a9f);
	background-image:   linear-gradient(to bottom, #4870a9, #446a9f);
	border-bottom: 1px solid #3c5e8e;
	border-top: 1px solid #2d466a;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
tr.ordering td,
tr.ordering a {
	color: #fff;
}

/*--------------------------------------------------------------------------
	Globals - Classes & UI components
--------------------------------------------------------------------------*/

.busy,
.busy * {
	cursor: wait;
}
.inactive,
.inactive * {
	color: #b4b4b4;
}
.irrelevant {
	display: none !important;
}
.selected, .selected a, .selected .inactive {
	color: #fff;
}
.selected a:hover {
	color: #f2f2f2;
}
.help {
	color: #808080;
	clear: both;
}
p.label {
	margin: 0 0 2px;
}

/* Tags list */

ul.tags {
	margin: -0.75em 0 1.5em 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.4);
	list-style: none;
}
ul.tags li, 
ul.tags li:first-of-type, 
ul.tags li:last-of-type {
	display: inline;
	padding: 0 6px 0 0;
	word-spacing: -1px;
	cursor: pointer;
	font-size: 90.91%;
	float: none;
	border: none;
}
ul.tags li:hover {
	color: #554;
}
ul.tags li.more {
	color: #5072bf;
	text-decoration: underline;
}
ul.tags .more:hover {
	color: #222;
}

/* Settings */

fieldset.settings {
	position: relative;
	padding: 10px 0 10px 275px;
	margin: 0 18px 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
fieldset.settings > legend {
	position: absolute;
	text-indent: -275px;
	line-height: 1.5;
}
fieldset.settings select {
	width: 100%;
}
fieldset.settings p.help {
	margin: -0.5em 0 1.5em;
}
fieldset.settings input + p.help,
fieldset.settings select + p.help {
	margin-top: 1em;
}
fieldset.settings li .label {
	margin: 1em 0 1.25em;
}
fieldset.settings:first-of-type {
	margin-top: 5px;
	border-top: none;
}
fieldset.settings > legend + .help {
	position: absolute;
	margin: 1.75em 0 0 -275px;
	width: 22em;
}
fieldset.settings > legend + .help p {
	margin: 0 0 1.5em;
}
fieldset.settings > *:first-child {
	margin-top: 0;
}
fieldset.settings fieldset {
	margin-top: 0.5em;
	padding-bottom: 0;
	border-top: 1px solid #ddc;
}
fieldset.settings fieldset legend {
	display: inline;
	margin: 0 0 0 -0.5em;
	padding: 0 0.75em 0 0.5em;
	font-weight: normal;
	line-height: 1.5;
	text-indent: 0;
	background: #fff;
	color: #665;
}

@media screen and (max-width: 700px) {

	fieldset.settings {
		padding-left: 0;
	}
	fieldset.settings:first-of-type {
		margin: 15px 18px 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	fieldset.settings > legend {
		position: relative;
		text-indent: 0;
		padding: 0 10px 0 0;
	}
	fieldset.settings > legend + .help {
		position: relative;
		margin: 0 0 15px;
		width: auto;
	}

}

/* Password */

#password {
	border: none;
	padding: 0;
	margin: 0 0 0 -15px;
}
#password legend {
	padding: 0 0 0 15px;
	margin: 0 !important;
	color: #222;
	line-height: 1.5;
	text-shadow: none;
}
#password i {
	position: absolute;
	top: 0;
	right: 0;
}

#error #password {
	margin: 0;
}
#error #password legend {
	padding: 0;
}
#error #password label {
	padding: 10px 0 10px 10px;
	border-left: none;
	border-right: none;
}
#error #password label:first-child {
	border-left: 1px solid #C31;
}
#error #password label:last-child {
	border-right: 1px solid #C31;
	padding-right: 10px;
}

div.password {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 0 0 275px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
}

/* Settings: Pickable */

.active .settings.picker {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.active .settings.pickable {
	border-top: 0;
	padding-top: 0;
}
.active .settings.pickable legend {
	display: none;
}

/*--------------------------------------------------------------------------
	Globals - System Messages
--------------------------------------------------------------------------*/

div.notifier {
	overflow: hidden;
	background: #383838;
	border-bottom: 1px solid #575757;
}

div.notifier nav {
	position: absolute;
	top: 0;
	right: 18px;
	text-decoration: none;
	display: block;
	padding: 4px 0;
	cursor: pointer;
}

div.notifier nav:before {
	content: "\2193";
	padding-right: 3px;
	opacity: 0.2;
}

div.notifier p.notice:last-child nav:before {
	content: "\2191";
}

div.notifier nav:hover:before {
	opacity: 0.5;
}

@-webkit-keyframes success {
	to {
		background-color: #383838;
		border-color: #575757;
		color: #9b9b9b;
	}
}
@-webkit-keyframes successlink {
	to {
		color: #bdc3c3;
		border-color: #7c7c7c;
	}
}

@-moz-keyframes success {
	to {
		background-color: #383838;
		border-color: #575757;
		color: #9b9b9b;
	}
}
@-moz-keyframes successlink {
	to {
		color: #bdc3c3;
		border-color: #7c7c7c;
	}
}

@-ms-keyframes success {
	to {
		background-color: #383838;
		border-color: #575757;
		color: #9b9b9b;
	}
}
@-ms-keyframes successlink {
	to {
		color: #bdc3c3;
		border-color: #7c7c7c;
	}
}

.notice {
	position: relative;
	margin: 0;
	padding: 4px 90px 3px 18px;
	border-bottom: 1px solid #575757;
	color: #9b9b9b;
	background: #383838;
	min-height: 16px;
}
.notice a {
	color: #bdc3c3;
	text-decoration: none;
	border-bottom: 1px solid #7c7c7c;
	margin: 0 3px;
}
.notice a:hover {
	color: #e4ece4;
	border-color: #9b9b9b;
	text-decoration: none;
}
.notice.success {
	background-color: #bfdc96;
	border-color: #90c349;
	color: #6d7841;
	-webkit-animation: success 0.5s ease-out 10s 1 forwards;
	-moz-animation: success 0.5s ease-out 10s 1 forwards;
	-ms-animation: success 0.5s ease-out 10s 1 forwards;
	animation: success 0.5s ease-out 10s 1 forwards;
}
.notice.success a {
	color: #4e5b39;
	border-color: #a1bf7e;
	-webkit-animation: successlink 0.5s ease-out 10s 1 forwards;
	-moz-animation: successlink 0.5s ease-out 10s 1 forwards;
	-ms-animation: successlink 0.5s ease-out 10s 1 forwards;
	animation: successlink 0.5s ease-out 10s 1 forwards;
}
.notice.success a:hover {
	color: #333c25;
	border-color: #4e5b39;
}
.notice.error {
	background-color: #fff9a2;
	border-color: #e7a973;
	color: #bd7053;
}
.notice.error a {
	color: #b02d3c;
	border-bottom: 1px solid #eed08a;
}
.notice.error a:hover {
	color: #87232e;
	border-bottom: 1px solid #b02d3c;
}

/*--------------------------------------------------------------------------
	Header
--------------------------------------------------------------------------*/

#header {
	margin: 0 0 0;
	color: #fff;
	position: relative;
}
#header h1 {
	background: #282828;
	padding: 18px;
	text-shadow: -1px 2px 3px #111;
	font-weight: normal;
	line-height: 1;
	z-index: 10;
	position: relative;
}
#header h1 a, #session a {
	border: none;
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;
}
#header h1 a:hover, #session a:hover {
	color: rgba(255, 255, 255, 0.99);
}
#session {
	margin: -30px 0 0;
	padding: 0 9px;
	float: right;
	position: relative;
	z-index: 11;
}
#session li {
	display: inline;
	padding: 0 9px;
}

/*--------------------------------------------------------------------------
	Header: Navigation
--------------------------------------------------------------------------*/

#nav {
	display: block;
	margin: 0;
	padding: 0 8px 0;
	height: 30px;
	list-style: none;
	white-space: nowrap;
	font-size: 12px;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 0 6px #a9a9a9;
	box-shadow: 0 0 6px #a9a9a9;
	background-color: #d7d7d2;
	background-image: -webkit-linear-gradient(top, #efefed 0%, #efefed 33%, #d7d7d2 67%, #d7d7d2 100%);
	background-image:    -moz-linear-gradient(top, #efefed 0%, #efefed 33%, #d7d7d2 67%, #d7d7d2 100%);
	background-image:     -ms-linear-gradient(top, #efefed 0%, #efefed 33%, #d7d7d2 67%, #d7d7d2 100%);
	background-image:      -o-linear-gradient(top, #efefed 0%, #efefed 33%, #d7d7d2 67%, #d7d7d2 100%);
	background-image:   linear-gradient(to bottom, #efefed 0%, #efefed 33%, #d7d7d2 67%, #d7d7d2 100%);
	z-index: 3;
}
#nav ul {
	margin: 0;
	padding: 0;
	float: left;
}
#nav ul.structure {
	float: right;
}
#nav > ul > li {
	display: block;
	color: #555;
	float: left;
	height: 30px;
	line-height: 31px;
	padding: 0 10px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	z-index: 3;
	cursor: default;
}
#nav > ul > li.active {
	color: #fff;
	background-color: #4d78b4;
	background-image: -webkit-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:    -moz-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:     -ms-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:      -o-linear-gradient(top, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	background-image:   linear-gradient(to bottom, #6f92c2 0%, #6f92c2 35%, #4d78b4 65%, #4d78b4 100%);
	height: 31px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}
#nav > ul > li:hover, #nav > ul > li.active:hover {
	color: #555;
	background: #fff;
	border-color: rgba(187, 187, 187, 0.6);
	height: 31px;
	text-shadow: none;
}

/* Dropdown */

#nav li ul {
	background: #fff;
	margin: 0;
	padding: 0;
	display: none;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.03), 0 7px 15px -5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.03), 0 7px 15px -5px rgba(0, 0, 0, 0.15);
	list-style: none;
	min-width: 120px;
	position: absolute;
	top: 31px;
	left: -1px;
	text-shadow: none;
	border: 1px solid rgba(187, 187, 187, 0.5);
	border-top: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#nav ul.structure li ul {
	left: auto;
	right: -1px;
}
#nav li:hover ul {
	display: block;
}
#nav ul a {
	color: #555;
	display: block;
	font-weight: normal;
	padding: 0 9px;
	text-decoration: none;
	border: 1px solid transparent;
	cursor: pointer;
}
#nav ul a:hover {
	color: #fff;
	background: #888888;
	border: 1px solid #fff;
	text-shadow: 1px 1px 0 #807d79;
}
#nav ul ul li:last-child a {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/*--------------------------------------------------------------------------
	Context
--------------------------------------------------------------------------*/

#context {
	clear: both;
	margin: 0;
	padding: 25px 18px 20px;
	position: relative;
	color: #000;
	min-height: 18px;
}
#context:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
}
#context h2 {
	border-bottom: 0;
	padding: 0;
	float: left;
}
#context .actions {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 18px;
	top: 21px;
}
#context .actions li {
	float: right;
}

/* Breadcrumbs */

#breadcrumbs nav,
#breadcrumbs p {
	margin: 0;
	padding: 0;
	float: left;
}
#breadcrumbs {
	float: left;
}
#breadcrumbs a, #breadcrumbs span {
	padding: 0;
	font: 127.28% 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 0 0 1px #fff;
	float: left;
}
#breadcrumbs a {
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#breadcrumbs a:hover {
	border-bottom-color: #a9a9a9;
	color: rgba(0, 0, 0, 0.8);
}
#breadcrumbs span {
	padding: 0 0.4em;
}

/* Tabs */

ul.tabs {
	position: relative;
	top: -23px;
	left: 0;
	padding: 0;
	margin: 0 18px;
}
ul.tabs li {
	float: left;
	background: #fff;
	border-top: 1px solid rgba(191, 191, 183, 0.65);
	border-left: 1px solid rgba(191, 191, 183, 0.65);
	border-right: 1px solid rgba(191, 191, 183, 0.65);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0 2px 0 0;
	opacity: 0.6;
	height: 21px;
}
ul.tabs li.active {
	opacity: 1;
	height: 22px;
}
ul.tabs li a {
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
	padding: 4px 10px 0;
	display: block;
}

/*--------------------------------------------------------------------------
	Contents
--------------------------------------------------------------------------*/

#contents {
	clear: both;
	position: relative;
	background: #fff;
	padding: 0 0 5em;
	border-top: 1px solid rgba(191, 191, 183, 0.65);
	-webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
}
#contents h2 {
	padding: 20px 18px 17px;
}
#contents h2 span {
	float: left;
}
#contents h2:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}
#contents h2 .button {
	margin-top: -3px;
	margin-bottom: -2px;
}

/*--------------------------------------------------------------------------
	Index page
--------------------------------------------------------------------------*/

.index h2 {
	border: none;
}
.index form {
	margin: 0;
	padding: 0;
}
.index .actions {
	text-align: right;
	padding: 30px 18px 0;
	height: 38px;
}
.index .actions + ul.page {
	margin-top: -58px;
}
ul.page {
	margin: 0;
	margin-top: -61px;
	padding: 23px 50px 0 19px;
	height: 36px;
	color: #9e9e9e;
	cursor: default;
}
ul.page li {
	display: inline;
	margin-right: 0.75em;
}
ul.page a {
	margin: 0 -0.67em;
	padding: 0.67em;
	text-decoration: none;
}
ul.page form {
	display: inline-block;
	border: 1px solid transparent;
	padding: 0;
	min-height: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
}
ul.page:hover form {
	border-color: #dedede;
}
ul.page form:hover,
ul.page form.active {
	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
ul.page form.invalid {
	background-color: #fff9a2;
	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
ul.page form.invalid input {
	background-color: #fff9a2;
}
ul.page input {
	text-align: center !important;
	height: 20px;
	border: none;
	outline: none;
	line-height: 1;
	color: #666;
	border-radius: 4px;
}
ul.page form:hover input {
	color: #9e9e9e;
}
ul.page form.active input,
ul.page input:focus {
	color: #000;
}
ul.page form span {
	visibility: hidden;
}

/*--------------------------------------------------------------------------
	Single page
--------------------------------------------------------------------------*/

.field {
	min-height: 47px;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
div.field-checkbox {
	min-height: 16px;
}
div.field-checkbox:first-child {
	margin-top: 20px;
	margin-bottom: 26px;
}
.file input {
	margin: -3px 0;
	font: inherit;
}
.file span {
	overflow: hidden;
	text-align: left;
}
.file a {
	float: left;
	max-width: 50%;
	overflow: hidden;
	text-overflow :ellipsis;
}
.file em {
	float: right;
	color: #998;
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}
.file em:hover {
	color: #d43;
}
.single #contents .actions {
	clear: both;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1.75em 0 0;
	margin: 0 18px;
}
.single #contents .columns .actions {
	margin: 0;
}
.single #contents .actions input {
	float: right;
	margin-left: 1em;
}
.single #contents .actions button {
	float: left;
	margin-left: 0;
}

/*--------------------------------------------------------------------------
	Specific pages
--------------------------------------------------------------------------*/

#blueprints-datasources table td.pages {
	width: 30%;
}
