/* Basic Styles */
html {
	font-size: 62.5%;
}
body {
	background: #fff;
	color: #222;
	font-size: 100.01%;
	font-family: LucidaSans, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a {
	color: #5072bf;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	color: #000;
}
a:active {
	color: #d42;
}
p {
	margin-bottom: 1.5em;
}
h1,
h2 {
	position: relative;
	clear: both;
	font-size: 1.3em;
	font-weight: normal;
}
h2 {
	padding: 1em 0;
	margin: 0 15px;
}
h3,
h4 {
	position: relative;
	clear: both;
	margin-bottom: 0.75em;
	font-weight: bold;
}
ul,
ol {
	margin: 0 0 1.5em 2.25em;
}
dt {
	font-weight: bold;
}
code {
	font: 110%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
	font-size-adjust: 0.5;
}
i,
var {
	position: absolute;
	right: 0;
	color: #aa9;
	text-shadow: none;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	font-size: 1em;
}