/*---------------------------------------------------------------------------------
	Reset
---------------------------------------------------------------------------------*/
	
	* {
		border: none;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		color: inherit;
		font: inherit;
		line-height: 140%;
		margin: 0;
		outline: none;
		padding: 0;
	}
	body {
		background: hsl(210, 5%, 10%);
		font: 80% sans-serif;
		overflow: hidden;
	}
	
	a {
		color: hsl(210, 5%, 70%);
		text-decoration: none;
		text-shadow: 2px 2px 3px hsl(210, 5%, 5%);
	}
	a:hover {
		color: hsl(210, 5%, 90%);
	}
	
/*---------------------------------------------------------------------------------
	Header
---------------------------------------------------------------------------------*/
	
	#header {
		background: hsl(210, 5%, 20%);
		border-left: 1px solid hsl(210, 5%, 30%);
		bottom: 0;
		color: #ffffff;
		padding: 20px;
		position: absolute;
		text-shadow: 2px 2px 3px hsl(210, 5%, 5%);
		right: 0;
		top: 0;
		width: 270px;
		overflow: hidden;
		overflow-y: auto;
	}
	#header,
	#header * {
		-moz-user-select: none;
		-webkit-user-select: none;
	}
	#header h1 {
		font-size: 120%;
		margin: 0;
	}
	#header h1 a {
		color: #ffffff;
	}
	
	#header #navigation {
		margin: 5px 0 0 0;
	}
	#header #navigation li {
		display: inline;
		margin: 0 0.5em 0 0;
	}
	
	#header #jump {
		float: left;
		margin: 20px 0 0 -20px;
		overflow: hidden;
		width: 269px;
	}
	#header #jump ul {
		list-style: none;
	}
	#header #jump ul ul {
		padding: 0 0 0 10px;
	}
	#header #jump a {
		display: block;
		margin: 0 0 0 -240px;
		padding: 5px 10px 5px 260px;
	}
	#header #jump a:hover {
		background: hsl(210, 5%, 22%);
	}
	#header #jump a.active {
		background: hsl(210, 5%, 25%);
		color: hsl(210, 5%, 100%);
	}
	
/*---------------------------------------------------------------------------------
	Content
---------------------------------------------------------------------------------*/
	
	#content {
		background: hsl(210, 5%, 10%);
		bottom: 0;
		left: 0;
		position: absolute;
		overflow: auto;
		right: 270px;
		top: 0;
	}
	
/*-------------------------------------------------------------------------------*/