/* System Errors */
#details h2 {
	text-shadow: none;
	font-size: 1em;
	margin-bottom: 3px;
}
#description,
#details {
	margin: 0 auto;
	border: 1px solid #eee;
	background-color: #ccb;
	min-width: 45em;
	max-width: 55%;
}
#description {
	margin-top: 96px;
	border-bottom-color: #998;
}
#description > *,
#details > li {
	margin: 0;
	border: 1px solid #bba;
	border-top-color: #ddc;
	padding: 0.5em 2em;
	background-color: #ccb;
}
#description p {
	padding: 1.25em 2em;
}
#description h1 {
	position: relative;
	border-color: #bba #887;
	border-bottom: none;
	padding: 14px;
	background-color: #353533;
	color: #fff;
	text-shadow: -1px 2px 3px #111;
}
#details {
	margin-top: -2px;
	border-top: none;
	border-bottom-color: #998;
	list-style: none;
}
#details li {
	margin: -1px 0 0;
	border-top: none;
}
#details dl {
	position: relative;
	margin-bottom: 1.25em;
	border: 1px solid #887;
	background-color: #f5f5f3;
	font: 115%/1.5 Monaco, Consolas, Andale Mono, monospace;
	font-size-adjust: 0.5;
}
#details dt {
	position: absolute;
	padding: 0.6em 1em;
	width: 4.3em;
	color: #665;
	text-align: right;
}
#details dd {
	overflow: auto;
	margin-left: 6.3em;
	border-left: 1px solid #ddc;
	padding: 0.6em 1em;
	background-color: #fff;
	line-height: 1.6;
}
