/* @override 
	http://localhost/symphony-21/symphony/assets/exception.css
	http://localhost/projects/symphony-21/symphony/assets/exception.css
*/

* {
	margin: 0;
	padding: 0;
}


body {
	margin: 50px 10%;
	font-family: Helvetica, "MS Trebuchet", Arial, sans-serif;
	background-color: #fff;
	font-size: 12px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}

h2 { 
	font-size: 14px;
	color: #a54665;
	margin: 0 0 10px 20px;
	text-shadow: 1px 1px 1px #fff;
}

h3 {
	margin: 20px 0;
}

p {
	padding: 0 20px;
	margin-bottom: 10px;
}

a {
	color: #69c;
	text-decoration: none;
}

a.markdown {
	display: block;
	text-align: right;
	font-weight: normal;
	color: #069;
	text-decoration: underline;
	padding-bottom: 10px;
}

a.markdown:hover {
	color: #69c;
}

code {
	font-size: 11px;
	font-family: Monaco, "Courier New", Courier;
}

code strong {
	display: block;
	font-family: Helvetica, "MS Trebuchet", Arial, sans-serif;
	margin-top: 5px;
}

code span.important{
	font-weight: bold;
}

pre#markdown {
	border: 2px dotted #ddd;
	padding: 10px 0;
	margin-bottom: 20px;
	overflow: auto;
}

.panel {
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#d8d8d8), color-stop(0.04, #ededed));
	background: -moz-linear-gradient(top center, #f4f4f4 0%, #ededed 1%, #d8d8d8 100%);
	border: none;
	background-color: #d8d8d8;
	-webkit-box-shadow: 0 1px 3px #888;
	-moz-box-shadow: 0 1px 3px #888;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding: 20px 0;
}

ul {
	list-style: none;
	color: #333;
	background-color: rgba(255,255,255,0.5);
	border: none;
}

li {
	padding: 8px 8px 8px 20px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
}

li.odd {
	background-color: rgba(252,254,255,0.8);
}

li#error {
	background-color: #e8caca;
	color: #b9191a;
}

li small{
	font-size: 10px;
	color: #666;
}