/* @override http://localhost/symphony-21/symphony/assets/exception.css */

* {
	margin: 0;
	padding: 0;
}


body {
	margin: 50px 10%;
	font-family: Helvetica, "MS Trebuchet", Arial, sans-serif;
	background-color: #fff;
	font-size: 12px;
}

h1 {
	font-size: 20px;
	text-align: right;
	font-weight: normal;
	line-height: 40px;
	margin-bottom: 15px;
	padding-right: 0.5em;
	background-color: #333;
	color: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

h2 { 
	font-size: 14px;
	margin-bottom: 10px;
}

h3 {
	margin: 20px 0 10px;
}

p.error-line {
	margin-bottom: 10px;
}

a {
	color: #69c;
	text-decoration: none;
}

a.markdown {
	display: block;
	text-align: right;
	font-weight: normal;
	color: #069;
	text-decoration: underline;
	padding-bottom: 10px;
}

a.markdown:hover {
	color: #69c;
}

code {
	font-size: 11px;
	font-family: Monaco, "Courier New", Courier;
}

code strong {
	display: block;
	font-family: Helvetica, "MS Trebuchet", Arial, sans-serif;
	margin-top: 5px;
}

code span.important{
	font-weight: bold;
}

pre#markdown {
	border: 2px dotted #ddd;
	padding: 10px 0;
	margin-bottom: 20px;
	overflow: auto;
}

ul {
	list-style: none;
	color: #111;
	border-left: 5px solid #ccc;
}

li {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

li:first-child {
	border-top: 1px solid #ddd;
}

ul.focus {
	background-color: #efefef;
}

ul.focus li {
	padding: 2px;
	border-bottom-color: #ccc;
}

ul.focus li:first-child {
	border-top-color: #ccc;
}

ul.focus li.odd {
	background-color: #dfdfdf;
}

ul.focus li#error {
	background-color: #e8caca;
	color: #b9191a;
}

li small{
	font-size: 10px;
	color: #666;
}

ul#query-log{
	display: none;
}
