@import url("basic.css");
@import url("admin.css");

/* Form Elements */
fieldset {
	border: none;
}
legend {
	float: left;
	margin-bottom: -3em;
	padding: 0;
	color: #665;
	text-indent: -275px;
	text-shadow: -1px 2px 3px #ddd;
	font-weight: bold;
	line-height: 1;
}
label {
	display: block;
	position: relative;
	margin-bottom: 1.75em;
}
label[title] {
	cursor: help;
}
select {
	display: block;
	margin-top: 2px;
	width: 100%;
}
select[multiple] {
	height: 10em;
}
textarea,
label input {
	margin-top: 2px;
	width: 100%;
	color: #000;
	font-size: 109.09%;
	font-family: inherit;
	cursor: text;
}
label input {
	padding: 2px;
}
input[size],
input[type=radio],
input[type=checkbox] {
	display: inline;
	margin: 0 0.25em 0 0;
	width: auto;
}
input[type=file],
input[type=radio],
input[type=checkbox] {
	cursor: auto;
}
input[size],
label + select {
	margin-left: 0.25em;
}
button {
	padding: 3.5px 6px 4px;
}

/* Generic Controls */
.primary {
	float: left;
	width: 60%;
}
.secondary {
	float: right;
	width: 35%;
}
.settings {
	border-top: 1px solid #ddc;
	padding: 11px 0 64px 275px;
}
.settings + div,
.settings + fieldset {
	margin-top: -64px;
}
.settings > legend + p.help {
	float: left;
	clear: both;
	margin: 2em 0 0 -275px;
	width: 22em;
}
.group {
	position: relative;
	right: -8px;
	margin: -0.5em 0 1.5em -16px;
	padding: 0.5em 8px 0.5em 40px;
	overflow: hidden;
	list-style: none;
}
ul.group {
	margin-bottom: -0.5em;
}
.group > * {
	float: left;
	margin: 0 0 0 32px;
	width: 50%;
}
.group > *:first-child {
	margin-left: -32px;
}
.group > div {
	margin-bottom: -1.75em;
}
.triple {
	padding-left: 72px;
}
.triple > * {
	width: 33.33%;
}
.triple > *:first-child {
	margin-left: -64px;
}
p.help {
	margin-top: -1em;
	color: #887;
}
div.invalid {
	margin-bottom: 1.5em;
	border: 1px solid #c31;
	border-bottom-color: #b21;
	padding: 0.75em 1.25em 1em;
	background-color: #d42;
	color: #fff;
}
.group > .invalid {
	padding: 0.75em 3% 1em;
	width: 44%;
}
div.invalid p {
	margin: -1em 0 0;
}
div.invalid a {
	color: #fb9;
}
div.invalid a:hover {
	color: #721;
}
h3.label {
	margin-bottom: 2px;
	text-shadow: none;
	font-weight: normal;
}
label span,
div.label span {
	display: block;
	margin: 2px 0 1.75em;
	border: 1px solid #e4e4de;
	padding: 12px;
	background-color: #f5f5f3;
	text-align: center;
}
div.actions {
	clear: both;
	border-top: 1px solid #ddc;
	padding: 14px 0 93px;
}
div.actions input {
	float: right;
	margin-left: 1em;
	padding: 3.5px 6px 4px;
}
div.actions button {
	float: left;
	margin-right: 1em;
	border: none;
	padding: 0;
	overflow: hidden;
	background-color: #887;
	color: #fff;
	line-height: 15px;
	height: 15px;
	cursor: pointer;
}
button.delete {
	width: 51px;
	background-image: url("images/delete.png");
	text-indent: 200%;
}
button.delete:hover {
	background-color: #d43;
}
ul.tags {
	margin: -1em 0 1.5em -6px;
	overflow: hidden;
	color: #887;
	list-style: none;
	font-size: 90.91%;
}
ul.tags li {
	float: left;
	margin-left: 6px;
	border-top: none;
	padding: 0;
	word-spacing: -1px;
	cursor: pointer;
}
ul.tags li:hover {
	color: #554;
}
ul.tags li.more {
	color: #5072bf;
	text-decoration: underline;
}
ul.tags .more:hover {
	color: #222;
}
.selected ul.tags li {
	color: #abe;
}
.movable ul.tags li {
	color: #ccb;
}

/* Subsections */
.subsection {
	margin-bottom: 1.5em;
	background-color: #998;
}
.subsection h3 {
	clear: none;
	margin-bottom: 0;
	padding-bottom: 2px;
	background-color: #fff;
	text-shadow: none;
	font-weight: normal;
}
.subsection ol {
	margin: 0 1px;
	background-color: #ddc;
	list-style: none;
}
.subsection li {
	position: relative;
	padding: 0 1.75em;
	overflow: hidden;
}
.subsection ol > li:not(.movable):not(.selected) {
	background-color: #ddc;
}
.subsection li.template {
	display: none;
}
.subsection li.selected h4 {
	border-color: #6783cb;
}
.subsection h4 {
	margin: 0 -1.75em 0.75em;
	border-top: 1px solid #998;
	border-bottom: 1px solid #e7e7e3;
	padding: 0.5em 1em;
	background-color: #ccb;
	color: #554;
	text-shadow: 2px 2px 3px #ddd;
	cursor: move;
}
.subsection li.selected h4 {
	background-color: #3e5caf;
	color: #fff;
	text-shadow: 2px 2px 3px #78c;
}
.subsection li.movable h4 {
	border-bottom-color: #998;
	background-color: #776;
	color: #fff;
	text-shadow: 2px 2px 3px #998;
}
.subsection h4 i {
	right: 1em;
	font-weight: normal;
}
.subsection i {
	color: #887;
}
.subsection .meta {
	position: absolute;
	top: 0.5em;
	right: 1em;
}
.subsection .actions {
	clear: none;
	padding: 0.5em 1em;
	border-top-color: #aa9;
	text-align: right;
}
.subsection .actions a {
	margin-left: 0.83em;
	padding: 0.75em 0;
	color: #fff;
	text-decoration: none;
}
.subsection .actions a:hover {
	color: #443;
}
.subsection .actions a.inactive {
	color: #ddc;
	cursor: default;
}
.subsection .actions select {
	display: inline;
	margin-top: 0;
	width: auto;
}

/* Special Controls */
#configure {
	margin: -1.5em -19px 1.5em;
	overflow: hidden;
}
#configure h3:first-child {
	margin-top: 1.5em;
	border-top: 1px solid #998;
}
#configure h3 {
	margin-top: -1px;
	border-bottom: 1px solid #e7e7e3;
	padding: 0.5em 19px;
	background-color: #ccb;
	color: #554;
	text-shadow: 2px 2px 3px #ddd;
}
#configure .group {
	margin: -0.75em 0 1px -8px;
	border-bottom: 1px solid #998;
	padding: 0.75em 40px 1.75em 96px;
	background-color: #ddc;
}
#utilities {
	margin: 2px 0 1.5em 0;
	border: 1px solid #bba;
	list-style: none;
}
#utilities li {
	border-top: 1px solid #ddc;
	padding: 0.63em 1.25em 0.67em;
}
#utilities li:first-child {
	border-top: none;
}
#utilities li:nth-child(odd) {
	background-color: #f5f5f4;
}
#components {
	padding-bottom: 58px;
}
#components ul {
	margin-left: 0;
	border-top: 1px solid #ddc;
	padding-top: 0.75em;
	list-style: none;
}
#components li {
	margin-bottom: 0.75em;
}
.calendar {
	margin-bottom: 1.5em;
	padding: 1.25em 1.5em 0;
	overflow: hidden;
	background-color: #353533;
	color: #fff;
}
.primary .calendar {
	padding-left: 25.5em;
}
.calendar table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
	width: 100%;
}
.primary .calendar table {
	float: left;
	margin-left: -24em;
	width: 22em;
}
.calendar th {
	padding-bottom: 0.25em;
	font-weight: normal;
	font-size: 92.31%;
}
.calendar td:hover {
	background-color: #434340;
}
.calendar td,
.calendar td.inactive {
	border: 1px solid #484846;
	width: 14.28%;
	background-color: #383836;
	text-align: center;
	line-height: 2.75;
	cursor: pointer;
}
.calendar td.odd:hover {
	background-color: #3d3d3a;
}
.calendar td.odd,
.calendar td.odd.inactive {
	background-color: #323230;
}
.calendar td.inactive {
	color: #686864;
	cursor: default;
}
.calendar strong {
	display: block;
	position: relative;
	margin: -1px;
	border: 1px solid #ddc;
	background-color: #56564b;
	color: #fff;
	text-shadow: -1px 2px 2px #333;
	font-weight: bold;
	cursor: default;
}
.calendar label + label {
	border-bottom: 1px solid #887;
	padding-bottom: 0.75em;
}
.calendar a.slider {
	position: absolute;
	bottom: -0.4em;
	left: 76%;
	text-decoration: none;
	text-shadow: -1px 2px 2px #222;
	font-size: 2.5em;
	line-height: 1;
	color: #ddc;
	cursor: move;
}
.file input {
	margin: -3px 0;
	font: inherit;
}
.file span {
	padding-right: 7.5em;
	overflow: hidden;
	text-align: left;
}
.file a {
	float: left;
}
.file em {
	float: right;
	margin-right: -7.5em;
	width: 7.5em;
	color: #998;
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}
.file em:hover {
	color: #d43;
}

/* Text Editor */
.code {
	font: 115%/1.5 Monaco, Consolas, Andale Mono, Lucida Console, monospace;
	font-size-adjust: 0.5;
}
.editor.button {
	float: right;
	padding: 16px 0 0 16px;
	height: 0;
	width: 0;
	overflow: hidden;
	background: #353533 url("images/editor.png") no-repeat;
}
#TextEditorSettings {
	clear: both;
	margin-bottom: 1.5em;
	padding: 1em 1.67em 0;
	overflow: hidden;
	background-color: #353533;
	color: #fff;
}
#TextEditorSettings h3 {
	float: left;
	width: 100%;
	margin: 0 -1.67em 1em;
	border-bottom: 1px solid #454440;
	padding: 0 1.67em 0.5em;
	color: #bba;
	text-shadow: -1px 2px 3px #111;
}