/*@import url("basic.css");*/
/*@import url("admin.css");*/

/* Form Elements */
fieldset,
div.secondary {
	position: relative;
	border: none;
	padding-top: 1em;
}
legend {
	float: left;
	margin-bottom: -3em;
	padding: 0;
	color: #665;
	text-indent: -275px;
	text-shadow: -1px 2px 3px #ddd;
	font-weight: bold;
	line-height: 1;
}
label {
	display: block;
	position: relative;
	margin-bottom: 1.75em;
}
label[title] {
	cursor: help;
}
label > i {
	top: 0;
}
select {
	display: block;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
select[multiple] {
	height: 10em;
	background-color: #ffffff;
}
textarea,
label input {
	margin-top: 2px;
	width: 100%;
	font-size: 109.09%;
	font-family: inherit;
	box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
label input {
	padding: 2px;
}
input[size],
input[type=radio],
input[type=checkbox] {
	display: inline;
	margin: 0 0.25em 0 0;
	width: auto;
}
input[size],
label + select {
	margin-left: 0.25em;
}
button {
	padding: 3.5px 6px 4px;
}

/* Generic Controls */
.primary {
	float: left;
	width: 60%;
}
.secondary {
	float: right;
	width: 35%;
}
h2,
.settings {
	margin-bottom: 0;
	border-bottom: 1px solid #ddc;
	padding-bottom: 1em;
}
.settings {
	margin-bottom: 9px;
	padding-left: 275px;
}
.settings + div,
.settings + fieldset {
	margin-top: -9px;
}
.settings > legend + p.help {
	float:left;
	width: 22em;
	margin-top:1.5em;
	margin-left:-275px;
}
.group {
	position: relative;
	right: -8px;
	margin: -0.5em 0 1.5em -16px;
	padding: 0.5em 8px 0.5em 40px;
	overflow: hidden;
	list-style: none;
}
ul.group {
	margin-bottom: -0.5em;
}
.group > * {
	float: left;
	margin: 0 0 0 32px;
	width: 50%;
}
.group > *:first-child {
	margin-left: -32px;
}
.group > div {
	margin-bottom: -1.75em;
}
.group > div > label > i {
	max-width:45%;
	height:16px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	cursor:help;
	float:right;
}
.group > div > label > i:hover {
	white-space:normal;
	height:auto;
	background: rgba(255, 255, 255, 0.8);
}
.triple {
	padding-left: 72px;
}
.triple > * {
	width: 33.33%;
}
.triple > *:first-child {
	margin-left: -64px;
}
p.help {
	margin-top: -1em;
	color: #887;
}
div.invalid {
	color: #fff;
}
.invalid > label {
	margin-bottom: 0;
	padding: 0.75em 1em 0.75em;
	background-color: #d42;
	border: 1px solid #c31;
	border-bottom-width: 0;
}
.invalid > p {
	padding: 0 1em 0.75em;
	background-color: #d42;
	border: 1px solid #c31;
	border-top-width: 0;
	border-bottom-color: #b21;
}
div.invalid a {
	color: #fb9;
}
div.invalid a:hover {
	color: #721;
}
h3.label {
	clear: none;
	margin-bottom: 2px;
	text-shadow: none;
	font-weight: normal;
}
label span,
div.label span {
	display: block;
	margin: 2px 0 1.75em;
	border: 1px solid #e4e4de;
	padding: 12px;
	background-color: #f5f5f3;
	text-align: center;
}
.duplicator label span,
.duplicator div.label span {
	background-color: #fffff0;
	border-color: #bbbbb0;
}
div.actions {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #ddc;
	padding: 14px 0 21px;
}
.settings + div.actions {
	border: none;
}
div.actions input {
	float: right;
	margin-left: 1em;
	padding: 3.5px 6px 4px;
}
div.actions button {
	float: left;
	margin-right: 1em;
	border: none;
	background-color: #887;
	color: #fff;
	cursor: pointer;
	padding: 0 1em .2em 1em;
	line-height: 2em;
	font-size: 0.95em;
	height: 2em;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
button.delete:hover {
	background-color: #d43;
}
ul.tags {
	margin: -1em 0 1.5em -6px;
	overflow: hidden;
	color: #887;
	list-style: none;
	font-size: 90.91%;
}
ul.tags li {
	float: left;
	margin-left: 6px;
	border-top: none;
	padding: 0;
	word-spacing: -1px;
	cursor: pointer;
}
ul.tags li:hover {
	color: #554;
}
ul.tags li.more {
	color: #5072bf;
	text-decoration: underline;
}
ul.tags .more:hover {
	color: #222;
}
.selected ul.tags li {
	color: #abe;
}
.movable ul.tags li {
	color: #ccb;
}

/* Special Controls */
#configure {
	margin: -1px -19px 1px;
	padding-bottom: 0;
	overflow: hidden;
}
#configure h3:first-child {
	margin-top: 0;
	border-top: 1px solid #998;
}
#configure h3 {
	margin-top: -1px;
	border-bottom: 1px solid #e7e7e3;
	padding: 0.5em 19px;
	background-color: #ccb;
	color: #554;
	text-shadow: 2px 2px 3px #ddd;
}
#configure .group {
	margin: -0.75em 0 1px -8px;
	border-bottom: 1px solid #998;
	padding: 0.75em 40px 1.75em 96px;
	background-color: #ddc;
}
#utilities {
	margin: 2px 0 1.5em 0;
	border: 1px solid #bba;
	max-height: 510px;
	overflow: auto;
	list-style: none;
}
#utilities li {
	border-top: 1px solid #ddc;
	padding: 0.63em 1.25em 0.67em;
}
#utilities li:first-child {
	border-top: none;
}
#utilities .odd {
	background-color: #f5f5f4;
}
#utilities > :nth-child(odd) {
	background-color: #f5f5f4;
}
#utilities .selected {
	border-color: #617dc5;
	background-color: #5273c0;
}
#utilities .selected.odd {
	background-color: #5677c3;
}
#utilities .selected:nth-child(odd) {
	background-color: #5677c3;
}
#components {
	margin-top: -5px;
	padding-bottom: 5px;
	background-color: #fff;
}
#components ul {
	margin-left: 0;
	border-top: 1px solid #ddc;
	padding-top: 0.75em;
	list-style: none;
}
#components li {
	margin-bottom: 0.75em;
}
#components .button {
	font-size: 0.9em;
	font-weight: normal;
}
.file input {
	margin: -3px 0;
	font: inherit;
}
.file span {
	padding-right: 7.5em;
	overflow: hidden;
	text-align: left;
}
.file a {
	float: left;
}
.file em {
	float: right;
	margin-right: -7.5em;
	width: 7.5em;
	color: #998;
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}
.file em:hover {
	color: #d43;
}
.code {
	font: 134%/1.3 monospace;
}

/* Field settings */

.content fieldset {
	border-top: 1px solid #eed;
	border-bottom: none;
	clear: both;
	margin: 0 -1.75em 2.75em -2.5em;
	padding: 0 2.75em 0 1.75em;
	right: -8px;
}

.content fieldset.group {
	padding: 0 0 0 1.75em;
}

.content fieldset legend {
	color: #665;
	float: none;
	font-weight: normal;
	line-height: 1;
	text-indent: 0;
	background: #DDC;
	padding: 0;
	margin: 0 0 0 -0.5em !important;
	padding: 0 0.75em 0 0.5em;
	display: block;
	width: auto;
}

.content fieldset label {
	margin: 1.75em 0 0 0em;
	padding: 0;
	min-width: 350px;
}

.content fieldset.group label, 
.content fieldset.group div {
	float: left;
	width: 50%;
	margin-left: 0;
}

.content fieldset.group div label {
	float: none;
	width: auto;
	padding: 0 32px 0 0;
}

.content fieldset.group div ul.tags {
	margin-top: 1em;
}

.content fieldset.group div ul.tags li {
	overflow: visible;
}

.content fieldset.group div.invalid {
	width: auto;
	float: none;	
	margin: 1.75em 32px 0 0;
	padding: 1.25em 1.25em 2.5em;
}

.content fieldset.group div.invalid label {
	padding: 0;
	margin: 0;
}

.content fieldset.group div.invalid p {
	margin: 1em 0 0;
}

.content fieldset.compact i {
	color: #887;
	display: block;
	position: relative;
	right: auto;
	padding-left: 1.7em;
}


/* Fix code font size */

.content i code {
	font-size: 1em;
}
