/* Forms */
.settings {
	border-top: none;
}
.settings > legend {
	padding-right: 25em;
	width: 100%;
}

/* Admin */
h1 {
	margin-bottom: -8px;
}
#usr {
	right: -32px;
}

/* Debug */
code {
	white-space: pre;
}
dl {
	margin: 2em 0 4em;
}
dt, dd {
	margin-top: -1px;
	border: 0;
	border-top: 1px solid #1d1d1b;
	padding: 2px 6px;
	height: 17px;
	overflow: hidden;
}
dt {
	margin-left: 0;
	width: 260px;
}
dd {
	margin: -22px 0 0 272px;
}
dt:first-child,
dt:first-child + dd {
	border-top: 0;
}
dt:first-child + dd {
	margin-top: -22px;
}