@import url("forms.css");

/* Login */
form {
	position: absolute;
	top: 96px;
	left: 50%;
	margin-left: -12.5em;
	border: 1px solid #eee;
	padding: 0;
	min-height: 0;
	width: 25em;
}
h1 {
	margin: 0;
	border: 1px solid #665;
	border-top-color: #887;
	border-bottom: none;
	padding: 19px;
	background-color: #353530;
}
fieldset,
div.actions {
	padding: 1em 2em;
	border: 1px solid #bba;
	border-top-color: #ddc;
	background-color: #ccb;
}
div.actions {
	float: none;
	margin-top: -1.25em;
	border-top: none;
	border-bottom: 1px solid #998;
	padding-top: 0;
	width: auto;
	overflow: hidden;
}
button {
	display: block;
	margin: 0 0 0 auto;
}
legend {
	display: none;
}