/**
 * @todo: Add description
 * @since: Symphony 2.3
 */ 

.frame {
	margin: 0;
	padding: 0 0 10px;
	list-style: none;
	overflow: hidden;
}
.frame:after {
	content: "";
	clear: both;
}

/*--------------------------------------------------------------------------
	Inline frames (e. g. upload fields)
--------------------------------------------------------------------------*/

span.frame {
	display: block;
	margin-bottom: 15px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	background-color: #f5f5f3;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------------------------------------------------
	Error frames
--------------------------------------------------------------------------*/

#error .frame {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	background-color: #f5f5f3;
	text-align: left;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 500px;
	max-width: 800px;
	margin: 200px auto;
}

/*--------------------------------------------------------------------------
	Framed lists (e. g. Duplicators)
--------------------------------------------------------------------------*/

.frame ol, .frame ul:not(.tags) {
	margin: 0;
	padding: 0;
	background: #f5f5f5;
	float: left;
	width: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	min-height: 30px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}
.frame.empty ol {
	border: 1px dashed rgba(0, 0, 0, 0.2);
}

.frame li {
	padding: 0 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	clear: both;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top-color: rgba(0, 0, 0, 0.25);
	border-bottom: none;
	min-height: 31px;
}
.frame li:first-of-type {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.frame li:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Link lists */

.frame li a:first-child {
	margin-top: 6px;
	display: inline-block;
}

/* Header */

.frame li header {
	position: relative;
	color: rgba(0, 0, 0, 0.75);
	margin: 0 -10px;
	padding: 8px 10px 7px;
	cursor: pointer;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-ms-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
}
.frame.collapsible li header {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.frame li.collapsed header {
	box-shadow: none;
	border-bottom-color: transparent;
}
.frame li.expanding header {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
	border-bottom: 1px solid rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.frame li header h4 {
	display: inline;
	font-weight: bold;
}
.frame li header span {
	margin: 0 0 0 10px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.5);
}
.frame li header.main:before,
.frame li header.sidebar:before {
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	float: left;
	margin: 3px 7px 0 0;
	border-left: 6px solid rgba(0, 0, 0, 0.25);
	border-right: 3px solid rgba(0, 0, 0, 0.1);
}
.frame li header.sidebar:before {
	border-left: 6px solid rgba(0, 0, 0, 0.1);
	border-right: 3px solid rgba(0, 0, 0, 0.25);
}
.frame li.highlight header:before {
	border-left: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 3px solid rgba(0, 0, 0, 0.2);
}
.frame li.highlight header.sidebar:before {
	border-left: 6px solid rgba(0, 0, 0, 0.2);
	border-right: 3px solid rgba(0, 0, 0, 0.5);
}

/* Errors */

.frame li.conflict.collapsed header {
	background: #fff9a2;
	-webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-ms-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
}
.frame li.conflict.ordering header {
	background: none;
}

/* Content: light scheme */

.frame li > div:first-of-type {
	padding-top: 10px;
}
.frame li .content {
	padding: 0 10px 10px;
	margin: 0 -10px;
	border-radius: 0 0 4px 4px;
}
.frame.collapsible li .content {
	background: #e8e8e8;
}
.frame.collapsible li legend {
	background: #e8e8e8;
}

/* Content: dark scheme */
.frame.dark li header {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.frame.dark li .content {
	background: #383838;
	color: #fff;
	margin: 0 -11px;
	padding: 10px 11px;
}
.frame.dark li legend {
	background: #383838;
}
.frame.dark li .content i,
.frame.dark li ul.tags {
	color: rgba(255, 255, 255, 0.3);
}
.frame.dark li .content fieldset {
	border-top-color: rgba(255, 255, 255, 0.1);
}

/* Selecting & ordering */

.frame li.selected, .frame li.ordering {
	background-color: #668abe;
	background-image: -webkit-linear-gradient(top, #668abe, #5c83ba);
	background-image:    -moz-linear-gradient(top, #668abe, #5c83ba);
	background-image:     -ms-linear-gradient(top, #668abe, #5c83ba);
	background-image:      -o-linear-gradient(top, #668abe, #5c83ba);
	background-image:   linear-gradient(to bottom, #668abe, #5c83ba);
	border-top: 1px solid #4D78B4;
	border-bottom: 1px solid #4D78B4;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.frame li.ordering {
	margin-bottom: -1px;
}
.frame li.selected + li.selected {
	border-top: none;
	padding-top: 1px;
}
.frame li.ordering + li {
	border-top: 1px solid #4D78B4;
}
.frame li.ordering:last-of-type {
	margin-bottom: 0;
}
.frame li.ordering header {
	color: #fff;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
	cursor: move;
}
.frame li.ordering header span,
.frame li.ordering header .destructor,
.frame li.ordering .content i,
.frame li.ordering ul.tags {
	color: rgba(255, 255, 255, 0.6);
}
.frame li.ordering .content,
.frame li.ordering .content legend {
	background: #668abe;
	color: #fff;
}
.frame li.ordering .content input,
.frame li.ordering .content textarea {
	box-shadow: 0 0 0 1px #4D78B4;
}
.frame li.ordering .content fieldset {
	border-top-color: rgba(255, 255, 255, 0.2);
}
.frame li.highlight {
	background: #e8e8e8;
}
.frame li.ordering header:before {
	border-left: 6px solid rgba(255, 255, 255, 0.7);
	border-right: 3px solid rgba(255, 255, 255, 0.2);
}
.frame li.ordering header.sidebar:before {
	border-left: 6px solid rgba(255, 255, 255, 0.2);
	border-right: 3px solid rgba(255, 255, 255, 0.7);
}

/* Destructor */

.frame li header .destructor {
	position: absolute;
	top: 0.65em;
	right: 10px;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	font-weight: normal;
}
.frame li header .destructor:hover {
	color: rgba(0, 0, 0, 0.7);
}
.frame li header .destructor.disabled {
	color: rgba(0, 0, 0, 0.2);
	cursor: default;
	opacity: 0.4;
}

/* Templates */

.frame .template {
	display: none;
}

/*--------------------------------------------------------------------------
	Controls
--------------------------------------------------------------------------*/

.frame .apply {
	clear: left;
	cursor: default;
	margin: 10px 0 0;
	text-align: right;
	position: relative;
	border-color: rgba(0, 0, 0, 0.25);
}
.frame .apply:hover {
	border-color: rgba(0, 0, 0, 0.4);
}
