/* @group Symphony */
	
	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		cursor: default;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
	}
	a {
		color: #5072bf;
		cursor: pointer;
		outline: none;
		text-decoration: underline;
	}
	a:hover {
		color: #000;
	}
	a:active {
		color: #d42;
	}
	img {
		border: none;
	}
	
	body {
		font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-style: normal;
		font-size: 9pt;
		font-weight: normal;
	}
	
	/* @group Header */
		
		h1 {
			background: #222222; /* TODO: Find fallback colour. */
			background: -moz-linear-gradient(
				top,
				hsla(0, 0%, 10%, 1),
				hsla(0, 0%, 20%, 1) 57px,
				hsla(0, 0%, 10%, 1)
			);
			font-size: 12pt;
			line-height: 60px;
			padding: 0 20px;
			text-shadow: 2px 2px 12px black;
		}
		h1 a,
		#session a {
			color: hsla(0, 0%, 100%, 0.8);
			text-decoration: none;
		}
		h1 a:hover,
		#session a:hover {
			color: hsla(0, 0%, 100%, 1);
		}
		
		/* @group Session */
			
			#session {
				line-height: 60px;
				list-style: none;
				position: absolute;
				right: 20px;
				top: 0;
			}
			#session li {
				display: block;
				float: left;
				margin: 0 0 0 10px;
			}
			#session li a {
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				display: inline-block;
				line-height: 15px;
				padding: 5px;
			}
			#session li a:hover {
				background: hsla(0, 0%, 50%, 0.2);
			}
			
		/* @end */
		
		/* @group Navigation */
			
			#nav {
				background: #d8d8d8; /* TODO: Find fallback colour. */
				background: -moz-linear-gradient(
					top,
					hsla(0, 0%, 95%, 1),
					hsla(0, 0%, 90%, 1) 1px,
					hsla(0, 0%, 80%, 1) 32px,
					hsla(0, 0%, 0%, 0.4) 32px,
					hsla(0, 0%, 0%, 0.2) 33px,
					hsla(0, 0%, 0%, 0)
				);
				height: 35px;
				list-style: none;
				margin: 0 0 -3px 0;
				padding: 0 10px;
				white-space: nowrap;
			}
			#nav > li {
				color: hsla(0, 0%, 0%, 0.8);
				display: block;
				float: left;
				font-weight: bold;
				height: 32px;
				line-height: 31px;
				padding: 0 10px;
				position: relative;
			}
			#nav #nav-system,
			#nav #nav-blueprints,
			#nav #nav-expand {
				float: right;
			}
			#nav > li.active {
				background: #5e84b1; /* TODO: Find fallback colour. */
				background: -moz-linear-gradient(
					top,
					hsla(215, 40%, 75%, 1),
					hsla(215, 40%, 60%, 1) 1px,
					hsla(215, 40%, 50%, 1)
				);
				color: #ffffff;
				text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.5);
			}
			#nav > li:hover {
				color: #ffffff;
				background: #444444; /* TODO: Find fallback colour. */
				background: -moz-linear-gradient(
					top,
					hsla(0, 0%, 50%, 1),
					hsla(0, 0%, 35%, 1) 1px,
					hsla(0, 0%, 25%, 1)
				);
				text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.5);
			}
			
			/* @group Sub Navigation */
				
				#nav ul {
					background: #444444; /* TODO: Find fallback colour. */
					background: -moz-linear-gradient(
						top,
						hsla(0, 0%, 25%, 1),
						hsla(0, 0%, 20%, 1)
					);
					display: none;
					left: 0;
					list-style: none;
					min-width: 100%;
					position: absolute;
					top: 32px;
				}
				#nav li:hover ul {
					display: block;
				}
				#nav #nav-system ul,
				#nav #nav-blueprints ul,
				#nav #nav-expand ul {
					left: auto;
					right: 0;
				}
				#nav ul a {
					color: #ffffff;
					display: block;
					font-weight: normal;
					padding: 0 10px;
					text-decoration: none;
				}
				#nav ul a:hover {
					background: #333333;
					background: hsla(0, 0%, 0%, 0.2);
				}
				#nav ul,
				#nav ul li:last-child a {
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					-moz-border-radius-bottomright: 5px;
					-moz-border-radius-bottomleft: 5px;
					-webkit-border-bottom-right-radius: 5px;
					-webkit-border-bottom-left-radius: 5px;
				}
				
			/* @end */
			
		/* @end */
		
	/* @end */
	
	/* @group Content */
		
		h2 {
			font-size: 12pt;
			margin: 20px;
		}
		
		/* @group Buttons */
			
			.button {
				background: -moz-linear-gradient(
					top,
					hsla(215, 40%, 60%, 1),
					hsla(215, 40%, 50%, 1)
				);
				border: none;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				color: #ffffff;
				display: inline;
				float: right;
				font-size: 9pt;
				padding: 4px 7px;
				text-decoration: none;
				text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.5);
				white-space: nowrap;
			}
			.button.create {
				background: -moz-linear-gradient(
					top,
					hsla(85, 50%, 60%, 1),
					hsla(85, 50%, 50%, 1)
				);
			}
			.button:hover {
				background: -moz-linear-gradient(
					top,
					hsla(0, 0%, 30%, 1),
					hsla(0, 0%, 20%, 1)
				);
				color: #ffffff;
			}
			
		/* @end */
		
		/* @group Tables */
			
			table {
				border-spacing: 0;
				table-layout: fixed;
				width: 100%;
			}
			table thead tr th {
				padding: 0 10px 6px 10px;
			}
			table tbody tr td {
				padding: 6px 10px;
			}
			table th:first-child,
			table td:first-child {
				padding-left: 20px;
				width: 20%;
			}
			table th:last-child,
			table td:last-child {
				padding-right: 20px;
			}
			table thead tr th,
			table tbody tr td {
				border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
				text-align: left;
			}
			table tbody tr td {
				background: -moz-linear-gradient(
					top,
					hsla(0, 0%, 0%, 0.01),
					hsla(0, 0%, 0%, 0),
					hsla(0, 0%, 0%, 0.01)
				);
			}
			table tbody tr:nth-child(even) td {
				background: -moz-linear-gradient(
					top,
					hsla(0, 0%, 0%, 0.03),
					hsla(0, 0%, 0%, 0.02),
					hsla(0, 0%, 0%, 0.03)
				);
			}
			table tbody tr td.inactive {
				color: hsla(0, 0%, 0%, 0.3);
			}
			table tbody tr td input {
				display: none;
			}
			
		/* @end */
		
		/* @group Actions */
			
			.actions {
				margin: 20px;
				text-align: right;
			}
			.actions input {
				float: none;
			}
			
		/* @end */
		
	/* @end */
	
	/* @group Views List */
		
		#views-list td.toggle {
			padding-left: 3.3em;
		}
		#views-list td.toggle a.hide,
		#views-list td.toggle a.show {
			display: inline-block;
			left: 0;
			line-height: 1;
			margin: -0.5em 0 -0.5em -2.3em;
			padding: 0.5em 0;
			text-align: center;
			text-decoration: none;
			width: 2em;
		}
		#views-list td.toggle a.hide:hover,
		#views-list td.toggle a.show:hover {
			background: hsla(0, 0%, 0%, 0.1);
			border-radius: 0.5em;
			-moz-border-radius: 0.5em;
			-webkit-border-radius: 0.5em;
		}
		#views-list td.toggle span {
			color: #888877;
			display: inline-block;
			-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
			-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
			-o-transform:matrix(-1, 0, 0, 1, 0, 0);
			font-size: 7pt;
		}
		#views-list .selected td.toggle span {
			color: #aabbee;
		}
		
	/* @end */
	
/* @end */