/* @override http://symphony-21.local/symphony/assets/symphony.duplicator.css */

/*-----------------------------------------------------------------------------
	Duplicator plugin
-----------------------------------------------------------------------------*/
	
	.duplicator {
		background: #444;
		border: 1px solid #999;
		list-style: none;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}
	div:last-child .duplicator {
		background: #333;
		margin: 0;
	}
	.invalid .duplicator {
		border-color: #aa2211;
	}
	.duplicator > .instance {
		background: #ddd;
		border-bottom: 1px solid #eee;
		overflow: hidden;
		margin: 0 -2em;
		padding: 0 2em;
		position: relative;
		z-index: 1;
	}
	.duplicator > .instance > .header {
		background: #ccc;
		border-bottom: 1px solid #eee;
		color: #666;
		margin: 0;
		padding: 0.5em 1.75em;
		position: relative;
	}
	.duplicator.orderable > .instance > .header {
		cursor: move;
	}
	.duplicator > .instance > .header .destructor {
		font-weight: normal;
		color: #333;
		margin: 0 1.75em;
		padding: 0.5em 0;
		position: absolute;
		right: 0;
		text-decoration: none;
		top: 0;
	}
	.duplicator > .instance > .header .destructor:hover {
		color: #555;
	}
	.duplicator > .instance > .header .destructor.disabled {
		color: #333;
		cursor: default;
		opacity: 0.4;
	}
	.duplicator > .instance > .content {
		overflow: hidden;
		padding: 1em 1.75em 0 1.75em;
		position: relative;
	}
	
/*-----------------------------------------------------------------------------
	States
-----------------------------------------------------------------------------*/
	
	.duplicator.ordering > .instance {
		opacity: 0.8;
	}
	.duplicator > .instance.ordering {
		border-top: 1px solid #eee;
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
		margin-top: -1px;
		opacity: 1;
		z-index: 2;
	}
	.duplicator > .instance.ordering,
	.duplicator > .instance.ordering * {
		cursor: move;
	}
	
	.duplicator > .instance.collapsed {
		border-bottom: none;
	}
	.duplicator > .instance.collapsed > .content {
		display: none;
	}
	
/*-----------------------------------------------------------------------------
	Controls
-----------------------------------------------------------------------------*/
	
	.duplicator > .controls {
		background: #aaa;
		cursor: default;
		padding: 0 1.75em;
		position: relative;
		text-align: right;
	}
	.duplicator > .controls > * {
		display: inline-block;
		margin: 0 0 0 0.75em;
	}
	.duplicator > .controls > select {
		min-width: 15em;
		width: auto;
	}
	.duplicator > .controls > select.disabled {
		display: none;
	}
	.duplicator > .controls > a {
		color: #fff;
		cursor: pointer;
		padding: 0.5em 0;
		text-decoration: none;
	}
	.duplicator > .controls > a:hover {
		color: #fff;
	}
	.duplicator > .controls > a.disabled {
		color: #eee;
		cursor: default;
		opacity: 0.6;
	}
	
/*---------------------------------------------------------------------------*/
