body {
	padding: 80px 100px 50px 50px;
	background: #fff;
	color: #222;
	font: 68.75%/1.5 "Lucida Grande", Verdana, sans-serif;
	cursor: default;
}
form {
	margin: 0 auto;
	position: relative;
	width: 450px;
	padding-left: 200px;
}

/* Sidebar */

h1 {
	position: fixed;
	margin-left: -200px;
	padding: 0 0 18px 0;
	text-align: right;
	font-weight: normal;
	font-size: 1.25em;
	width: 150px;
}
h1 em {
	display: block;
	margin-top: 0.5em;
	color: rgba(0, 0, 0, 0.4);
	text-align: right;
	font-style: normal;
	font-size: 73.33%;
}
ul {
	position: fixed;
	color: rgba(0, 0, 0, 0.4);
	text-align: right;
	font-style: normal;
	list-style: none;
	margin: 55px 0 0 -200px;
	padding: 0 0 18px 0;
	text-align: right;
	font-weight: normal;
	width: 150px;

}
ul li.selected a {
	color: #000;
	text-decoration: none;
}
ul li.more {
	margin-top: 12px;
}
ul li.more a {
	width: 150px;
	color: rgba(0, 0, 0, 0.4);
	display: block;
	text-decoration: none;
}
ul li.more a:hover {
	text-decoration: underline;
}

/* Content */

h2 {
	margin-bottom: 10px;
}
fieldset + h2 {
	margin-top: 50px;
}
fieldset {
	margin: 50px 0 0;
	padding: 10px 0 0;
}
fieldset legend {
	font-size: 127.28%;
}
fieldset > .columns:last-child .column {
	margin-bottom: 0;
}
fieldset fieldset {
	padding-top: 30px !important;
	margin: 5px 0 0 !important;
}
fieldset label + fieldset {
	margin-top: 20px !important;
}
fieldset fieldset legend {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1em;
	color: rgba(0, 0, 0, 0.4);
}
.option {
	margin: 0 0 0 20px;
}
.option input {
	margin-left: -20px;
	float: left;
	min-width: 0;
}
.option + p {
	margin: 5px 30px 0 20px;
	color: rgba(0, 0, 0, 0.4);
}
.submit {
	text-align: right;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 15px;
	color: rgba(0, 0, 0, 0.4);
}
