/**
 * Symphony Installer
 */


body {
	padding: 80px 100px 50px 50px;
	font: 68.75%/1.5 "Lucida Grande", Verdana, sans-serif;
	cursor: default;
}

form {
	margin: 0 auto;
	position: relative;
	width: 450px;
	padding-left: 200px;
}

/* Sidebar */

h1 {
	position: fixed;
	margin-left: -200px;
	padding: 0 0 18px 0;
	text-align: right;
	font-weight: normal;
	font-size: 1.25em;
	width: 150px;
}

h1 em {
	display: block;
	margin-top: 0.5em;
	color: rgba(0, 0, 0, 0.4);
	text-align: right;
	font-style: normal;
	font-size: 73.33%;
}

h1 + ul {
	position: fixed;
	color: rgba(0, 0, 0, 0.4);
	text-align: right;
	font-style: normal;
	list-style: none;
	margin: 55px 0 0 -200px;
	padding: 0 0 18px 0;
	text-align: right;
	font-weight: normal;
	width: 150px;
}

h1 + ul li.selected a {
	color: #000;
	text-decoration: none;
}

h1 + ul li.more {
	margin-top: 12px;
}

h1 + ul li.more a {
	width: 150px;
	color: rgba(0, 0, 0, 0.4);
	display: block;
	text-decoration: none;
}

h1 + ul li.more a:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* Multiple errors */

.invalid ul {
	position: static;
	margin: 0 0 0 13px;
	padding: 0;
	width: auto;
	text-align: left;
}

.invalid li {
	color: rgba(255, 255, 255, 0.7);
	list-style-type: square;
}

.invalid li + li {
	margin-top: 10px;
}

/* Content */

h2 {
	margin-bottom: 10px;
	margin-right: 50px;
}

fieldset + h2,
p + h2 {
	margin-top: 50px;
}

fieldset {
	margin: 50px 0 0;
	padding: 10px 0 0;
}

fieldset legend {
	font-size: 127.28%;
	font-weight: normal;
	color: #222;
}

fieldset > .columns:last-child .column {
	margin-bottom: 0;
}

fieldset fieldset {
	padding-top: 30px !important;
	margin: 5px 0 0 !important;
}

fieldset label + fieldset {
	margin-top: 20px !important;
}

fieldset fieldset legend {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1em;
	color: rgba(0, 0, 0, 0.4);
}

.option {
	margin: 0 0 0 20px;
}

.option input {
	margin-left: -20px;
	float: left;
	min-width: 0;
}

.option + p {
	margin: 5px 30px 0 20px;
	color: rgba(0, 0, 0, 0.4);
}

.submit {
	text-align: right;
	padding-bottom: 50px;
}

dt {
	font-weight: normal;
	color: rgba(0, 0, 0, 0.4);
	margin-bottom: 5px;
}

ul {
	margin-left: 0;
}

dd,
ul li {
	margin: 0 0 15px 10px;
	font-weight: normal;
	position: relative;
}

ul li {
	margin: 0 0 0 10px;
}

dd:before,
ul li:before {
	content: "\00b7";
	float: left;
	margin: 0 0 0 -10px;
}
