/**
 * Associations are visualisations of associated entries in Symphony's backend.
 * They are hidden in Drawers by default and can be expanded on click.
 *
 * @since Symphony 2.3
 */


/*-----------------------------------------------------------------------------
	Horizontal drawers
-----------------------------------------------------------------------------*/

.association {
    border-top: 1px solid #D0D0D0;
    min-height: 30px;
    color: #666;
}

.association:first-of-type {
    margin-top: 20px;
}

.association:last-of-type {
    padding-bottom: 15px;
}

.association a {
    color: #666;
}

.association a:hover {
    color: #323232;
}

.association header {
    width: 240px;
    float: right;
    padding-top: 6px;
}

.association header p {
    margin: 0;
    padding: 0;
}

.association header i a {
    color: rgb(169, 169, 169);
    border-bottom: none;
}

.association .association-section {
    color: #323232;
}

.association ul {
    padding: 0 250px 0 0;
    margin: 0;
}

.association li {
    padding-top: 6px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.association li:not(:last-of-type) {
    border-bottom: 1px solid #E6E6E5;
}

.association:not(.empty) li::before {
    content: "\2192";
}

.association.parent li::before {
    content: "\2190";
}
