/* @override 
	http://symphony-21.local/symphony/assets/css/symphony.css
	http://localhost/projects/symphony-21/symphony/assets/css/symphony.css
*/

/*-----------------------------------------------------------------------------
	Symphony Global
-----------------------------------------------------------------------------*/

	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		cursor: default;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
	}
	body {
		font: normal 8pt/1.6 "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	a {
		color: #5072bf;
		cursor: pointer;
		outline: none;
		text-decoration: underline;
	}
	a:hover {
		color: #000;
	}
	a:active {
		color: #d42;
	}
	img {
		border: none;
	}

/*-----------------------------------------------------------------------------
	Header
-----------------------------------------------------------------------------*/

	h1 {
		background-color: #222;
		background: -moz-linear-gradient(
			top,
			#111 0%,
			#333 100%
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(#111),
			to(#333)
		);
		font-size: 10pt;
		font-weight: bold;
		line-height: 45px;
		padding: 0 30px;
		text-shadow: 1px 1px 2px #222;
	}
	h1 a,
	#session a {
		color: #ccc;
		text-decoration: none;
	}
	h1 a:hover,
	#session a:hover {
		color: #fff;
	}

/*-----------------------------------------------------------------------------
	Header: Session
-----------------------------------------------------------------------------*/

	#session {
		line-height: 50px;
		list-style: none;
		position: absolute;
		right: 25px;
		top: 0;
	}
	#session li {
		display: block;
		float: left;
		margin: 0 0 0 10px;
	}
	#session li a {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		display: inline-block;
		height: 22px;
		line-height: 22px;
		padding: 0 5px;
	}
	#session li a:hover {
		background-color: #333;
		background: hsla(0, 0%, 50%, 0.2);
	}

/*-----------------------------------------------------------------------------
	Header: Navigation
-----------------------------------------------------------------------------*/

	#nav {
		background-color: #ccc;
		background: -moz-linear-gradient(
			top,
			hsla(0, 0%, 95%, 1),
			hsla(0, 0%, 90%, 1) 1px,
			hsla(0, 0%, 80%, 1) 32px,
			hsla(0, 0%, 0%, 0.4) 32px,
			hsla(0, 0%, 0%, 0.2) 33px,
			hsla(0, 0%, 0%, 0)
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, hsla(0, 0%, 95%, 1)),
			color-stop(0.03, hsla(0, 0%, 90%, 1)),
			color-stop(0.91, hsla(0, 0%, 80%, 1)),
			color-stop(0.92, hsla(0, 0%, 0%, 0.4)),
			color-stop(.94, hsla(0, 0%, 0%, 0.2)),
			color-stop(1, hsla(0, 0%, 0%, 0))
		);
		height: 35px;
		list-style: none;
		padding: 0 20px;
		white-space: nowrap;
	}
	#nav > li {
		color: #555;
		color: hsla(0, 0%, 0%, 0.65);
		display: block;
		float: left;
		font-weight: bold;
		height: 35px;
		line-height: 33px;
		padding: 0 10px;
		position: relative;
		text-shadow: 0 1px 0 #eee;
	}
	#nav #nav-system,
	#nav #nav-blueprints,
	#nav #nav-expand {
		float: right;
	}
	#nav > li.active {
		background-color: #5e84b1;
		background: -moz-linear-gradient(
			top,
			hsla(215, 40%, 75%, 1),
			hsla(215, 40%, 60%, 1) 1px,
			hsla(215, 40%, 50%, 1) 32px,
			hsla(0, 0%, 0%, 0.6) 32px,
			hsla(0, 0%, 0%, 0) 33px,
			hsla(0, 0%, 0%, 0)
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, hsla(215, 40%, 75%, 1)),
			color-stop(0.03, hsla(215, 40%, 60%, 1)),
			color-stop(0.91, hsla(215, 40%, 50%, 1)),
			color-stop(0.92, hsla(0, 0%, 0%, 0.6)),
			color-stop(.93, hsla(0, 0%, 0%, 0)),
			color-stop(1, hsla(0, 0%, 0%, 0))
		);
		color: #fff;
		text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.2);
		z-index: 1;
	}
	#nav > li:hover {
		color: #fff;
		background-color: #444;
		background: -moz-linear-gradient(
			top,
			hsla(0, 0%, 50%, 1),
			hsla(0, 0%, 35%, 1) 1px,
			hsla(0, 0%, 25%, 1) 32px
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, hsla(0, 0%, 50%, 1)),
			color-stop(0.03, hsla(0, 0%, 35%, 1)),
			color-stop(0.91, hsla(0, 0%, 25%, 1))
		);
		text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.5);
		z-index: 2;
	}

/*-----------------------------------------------------------------------------
	Header: Navigation: Subnavigation
-----------------------------------------------------------------------------*/

	#nav ul {
		display: none;
		background-color: #444;
		background: -moz-linear-gradient(
			top,
			hsla(0, 0%, 25%, 1),
			hsla(0, 0%, 15%, 1)
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(hsla(0, 0%, 25%, 1)),
			to(hsla(0, 0%, 15%, 1))
		);
		-moz-box-shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.2);
		-webkit-box-shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.2);
		left: 0;
		list-style: none;
		width: 120px;
		min-width: 100%;
		position: absolute;
		top: 32px;
	}
	#nav li:hover ul {
		display: block;
	}
	#nav #nav-system ul,
	#nav #nav-blueprints ul,
	#nav #nav-expand ul {
		left: auto;
		right: 0;
	}
	#nav ul a {
		color: #fff;
		display: block;
		font-weight: normal;
		padding: 0 10px;
		text-decoration: none;
	}
	#nav ul a:hover {
		background-color: #333;
		background: hsla(0, 0%, 0%, 0.2);
	}
	#nav ul,
	#nav ul li:last-child a {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

/*-----------------------------------------------------------------------------
	Header: Navigation: Tab Navigation
-----------------------------------------------------------------------------*/

	#tab {
		position: relative;
		display: inline-table;
		width: 100%;
		line-height: 25px;
		color: #777;
		background-color: #fff;
		background: -moz-linear-gradient(
			bottom,
			#eee 0%,
			#fff 10%,
			#fff 100%
		);
		background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			from(#eee),
			to(#fff),
			color-stop(0.1, #fff)
		);
		border-bottom: 1px solid #eaeaea;
		padding-left: 20px;
		margin-bottom: 25px;
	}
	#tab li {
		display: inline;
	}
	#tab li a {
		background: hsla(0, 0%, 0%, 0.03);
		display: block;
		position: relative;
		top: 1px;
		color: #444;
		float: left;
		padding: 0 10px;
		margin-right: 5px;
		text-decoration: none;
		border: 1px solid #ddd;
		border-bottom: none;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
	#tab li a:hover,
	#tab li a.active {
		background: #fff;
	}
	h2 + #tab {
		margin-top: -5px;
	}
	
/*-----------------------------------------------------------------------------
	Content
-----------------------------------------------------------------------------*/

	h2 {
		font-size: 11pt;
		padding: 15px 30px 20px;
	}
	code {
		font-family: 'Monaco', 'Consolas', 'Andale Mono', monospace;
		font-size: 8pt;
		color: hsla(0, 0%, 0%, 0.8);
	}
	pre {
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		border-top: 1px solid hsla(0, 0%, 0%, 0.1);
		margin: 10px 0;
		padding: 10px 0;
	}
	p {
		margin: 0 0 10px;
	}
	p:last-child {
		margin: 0;
	}
	.inactive {
		color: hsla(0, 0%, 0%, 0.3);
	}

/*-----------------------------------------------------------------------------
	Content: Buttons
-----------------------------------------------------------------------------*/

	fieldset ~ .actions input[type=submit],
	button,
	.button {
		background-color: #222;
		background: -moz-linear-gradient(
			top,
			#6f6f6f,
			#222
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(#6f6f6f),
			to(#222)
		);
		border: 1px solid #5f605e;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-size: 8pt;
		color: #fff;
		float: right;
		padding: 3px 8px 4px;
		text-decoration: none;
		text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.1);
		white-space: nowrap;
		cursor: pointer;
	}
	.button.create {
		background-color: #8ac438;
		background: -moz-linear-gradient(
			top,
			#8ed130,
			#88bd3c
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(#8ed130),
			to(#88bd3c)
		);
		border: 1px solid #88bd3c;
	}
	button.delete {
		float: left;
		background-color: #b73b40;
		background: -moz-linear-gradient(
			top,
			#db4355,
			#ab3939
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(#db4355),
			to(#ab3939)
		);
		border: 1px solid #cb1f2b;
	}
	fieldset ~ .actions input[type=submit]:hover,
	button:hover,
	.button:hover {
		color: #fff;
		background-color: #444;
		background: -moz-linear-gradient(
			top,
			#888,
			#666
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(#888),
			to(#666)
		);
		border: 1px solid #777;
	}

/*-----------------------------------------------------------------------------
	Content: Table
-----------------------------------------------------------------------------*/

	table {
		border-spacing: 0;
		table-layout: fixed;
		width: 100%;
	}
	table thead tr th {
		color: #666;
		padding: 0 10px 8px 10px;
	}
	table tbody tr td {
		padding: 8px 10px;
	}
	table th:first-child,
	table td:first-child {
		padding-left: 30px;
		width: 20%;
	}
	table th:last-child,
	table td:last-child {
		padding-right: 30px;
	}
	table thead tr th,
	table tbody tr td {
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		text-align: left;
	}
	table tbody tr:nth-child(odd) td {
		background: #f3f3f3;
		background: -moz-linear-gradient(
			top,
			hsla(0, 0%, 0%, 0.03),
			hsla(0, 0%, 0%, 0.04)
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(hsla(0, 0%, 0%, 0.03)),
			to(hsla(0, 0%, 0%, 0.04))
		);
	}
	table tbody tr td input[type=checkbox] {
		display: none;
	}
	table + .actions {
		background: transparent;
		border: none;
		margin: 0;
	}
	table .selected {
		background-color: #6a8ebf;
	}
	table .selected td,
	table .selected td a {
		color: #fff;
	}

/*-----------------------------------------------------------------------------
	Content: Table: Settings
-----------------------------------------------------------------------------*/

	.settings table {
		table-layout: auto;
		white-space: nowrap;
		border-collapse: collapse;
	}
	.settings table th {
		border: none;
		padding: 5px 10px;
	}
	.settings table td {
		padding: 5px 10px;
		border: 1px solid #ddd;
	}
	.settings table td:first-child {
		border-left: none;
	}
	.settings table td:last-child {
		border-right: none;
	}
	.settings table td span {
		line-height: 20px;
		float: right;
		text-align: right;
		color: #aaa;
	}
	.settings table input[type=checkbox] {
		display: block;
		margin: 0 auto;
	}

/*-----------------------------------------------------------------------------
	Content: Form
-----------------------------------------------------------------------------*/

	form {
		margin-bottom: 20px;
	}
	form #layout {
		display: -moz-box;
		display: -webkit-box;
		-moz-box-orient: horizontal;
		-webkit-box-orient: horizontal;
		width: 100%;
		max-width: 1200px;
		padding: 0 15px;
	}
	form #layout .column {
		padding: 15px;
	}
		.span-1 {
			width: 210px;
			-moz-box-flex: 1;
			-webkit-box-flex: 1;
		}
		.span-2 {
			width: 420px;
			-moz-box-flex: 2;
			-webkit-box-flex: 2;
		}
		.span-3 {
			width: 630px;
			-moz-box-flex: 3;
			-webkit-box-flex: 3;
		}
		.span-4 {
			width: 840px;
			-moz-box-flex: 4;
			-webkit-box-flex: 4;
		}
		
	form fieldset {
		position: relative;
		border: none;
		margin-bottom: 25px;
	}
	form h2 + fieldset {
	}
	form fieldset legend {
	}
	form h3 {
		color: #666666;
		font-size: 10pt;
		border-width: 0 0 1px 0;
		border-color: hsla(0, 0%, 0%, 0.15);
		border-style: solid;
		padding-bottom: 6px;
		margin-bottom: 20px;
	}
	form h3 input {
		background: transparent;
		border: none;
		color: #666666;
		width: 100%;
	}
	form h3 input:focus,
	form h3 input:hover {
		border: 1px solid #dddddd;
		border-color: hsla(0, 0%, 0%, 0.2);
		box-sizing: content-box;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		outline: none;
		margin: -3px -3px;
		padding: 2px 2px;
	}
	form .help {
		color: #aaa;
	}
	form fieldset h3 + .help {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 2em;
	}
	form fieldset legend + .help code {
		color: inherit;
		font-size: inherit;
	}
	form label {
		display: block;
		margin-bottom: 15px;
	}
	form label input,
	form .label input,
	form label select,
	form .label select,
	form label textarea,
	form .label textarea {
		width: 100%;
		padding: 2px;
	}
	form input {
		cursor: text;
	}
	form input[type=submit] {
		cursor: default;
	}
	form input[size],
	form input[type=radio],
	form input[type=checkbox] {
		display: inline;
		width: auto;
	}
	form select[multiple] {
		min-height: 100px;
		padding: 0;
	}
	form .label span {
		display: block;
		background-color: #f3f3f3;
		border: 1px solid #ddd;
		padding: 8px;
		margin-bottom: 15px;
	}
	form .label #change-password {
		display: block;
		width: auto;
		margin: 0 auto;
	}
	form .group {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin-bottom: 15px;
	}
	form label:last-child,
	form .group:last-child,
	form .label:last-child span {
		margin-bottom: 0;
	}
	form .group > label,
	form .group > div {
		display: table-cell;
		padding-left: 20px;
		margin-top: 0;
	}
	.group > div.small {
		width: 35%;
	}
	form .group > div > label {
		display: block;
		padding: 0;
		margin: 15px 0 3px;
	}
	form .group > div > label:first-child {
		margin-top: 0;
	}
	form .group > label:first-child,
	form .group > div:first-child label,
	form .group > div:first-child {
		padding-left: 0;
	}

/*-----------------------------------------------------------------------------
	Content: Form: Options List
-----------------------------------------------------------------------------*/
	
	.options-list {
		border-top: 1px dotted #dddddd;
		border-top-color: hsla(0, 0%, 0%, 0.2);
		line-height: 2;
		list-style: none;
		margin: 20px 0 0 0;
		padding: 20px 0 0 0;
	}
	.options-list li {
	}
	.options-list li label {
		margin: 0;
	}
	
/*-----------------------------------------------------------------------------
	Content: Form: Tags
-----------------------------------------------------------------------------*/

	ul.tags {
		list-style: none;
		margin: 0;
	}
	.tags li {
		color: #888;
		display: inline;
		margin-right: 8px;
		cursor: pointer;
	}

/*-----------------------------------------------------------------------------
	Content: Form: Master Switch
-----------------------------------------------------------------------------*/

	#master-switch {
		float: right;
		margin-right: 30px;
		margin-top: 15px;
	}

/*-----------------------------------------------------------------------------
	Content: Form: Actions
-----------------------------------------------------------------------------*/

	.actions {
		text-align: right;
		border-top: 1px dotted #dddddd;
		border-top-color: hsla(0, 0%, 0%, 0.2);
		padding: 20px 30px;
	}
	.actions input {
		float: none;
	}
	.actions select {
		margin-right: 5px;
	}

/*-----------------------------------------------------------------------------
	Content: XSLT Utilities
-----------------------------------------------------------------------------*/

	#utilities {
		list-style: none;
		background-color: #f3f3f3;
		border: 1px solid #ccc;
		max-height: 480px;
		overflow: auto;
	}

	#utilities li {
		padding: 5px 10px;
		border-top: 1px solid #e3e3e3;
	}

	#utilities li:nth-child(even) {
		background-color: #fff;
	}
	
	#utilities li:first-child {
		border-top: 0;
	}

/*-----------------------------------------------------------------------------
	Content: Views List
-----------------------------------------------------------------------------*/

	#views-list td.toggle div {
		margin: -8px 0;
		padding: 8px 0;
		position: relative;
	}
	#views-list td.toggle a.hide,
	#views-list td.toggle a.show {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		display: inline-block;
		left: -25px;
		height: 20px;
		line-height: 22px;
		font-size: 7pt;
		margin: -2px 0;
		position: absolute;
		text-align: center;
		text-decoration: none;
		width: 20px;
	}
	#views-list td.toggle a.show {
		-moz-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
	}
	#views-list td.toggle a.hide:hover,
	#views-list td.toggle a.show:hover {
		background: hsla(0, 0%, 0%, 0.1);
	}
	#views-list td.toggle div span {
		color: #aaa;
		display: inline-block;
		-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
		-o-transform:matrix(-1, 0, 0, 1, 0, 0);
		font-size: 7pt;
	}
	#views-list .selected td.toggle div span {
		color: #aabbee;
	}

/*-----------------------------------------------------------------------------
	Settings: Section Tools
-----------------------------------------------------------------------------*/

	#sections-tool th input {
		float: right;
	}
	#sections-tool strong {
		font-weight: bold;
	}
	#sections-tool .status {
		width: 40px;
		text-indent: -2000px;
		font-size: 1pt;
		overflow: hidden;
	}
	#sections-tool tbody .status:before {
		float: left;
		width: 18px;
		height: 18px;
		color: #fff;
		line-height: 16px;
		text-align: center;
		text-indent: 0;
		font-size: 13pt;
		font-family: sans-serif;
		border-radius: 9px;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		display: block;	
	}
	#sections-tool tbody .added .status:before {
		content: "+";
		background-color: #8ac438;
	}
	#sections-tool tbody .removed .status:before {
		content: "-";
		background-color: #b73b40;
	}
	#sections-tool td + td {
		font-weight: bold;
	}
	#sections-tool td + td + td {
		font-weight: normal;
		width: 65%;
		line-height: 20px;
	}
	#sections-tool div {
		overflow: hidden;
		padding: 10px 0;
	}
	#sections-tool div p {
		color: #888;
		display: inline;
		vertical-align: middle;
		margin: 0;
	}
	#sections-tool div input {
		float: right;
	}

/*-----------------------------------------------------------------------------
	System Notification
-----------------------------------------------------------------------------*/

	#notice {
		z-index: 10;
		position: absolute;
		width: 50%;
		left: 50%;
		margin: 0 0 0 -25%;
		color: #fff;
		line-height: 20px;
		padding: 6px 12px;
		padding-left: 40px;
		background-color: #970707;
		background: -moz-linear-gradient(
			top,
			hsla(0, 0%, 65%, 1),
			hsla(0, 0%, 45%, 1)
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(hsla(0, 0%, 65%, 1)),
			to(hsla(0, 0%, 45%, 1))
		);
		border-top: none;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
	}
	#notice:before {
		float: left;
		margin: 0 10px 0 -30px;
		display: block;
		content: "!";
		width: 20px;
		height: 20px;
		color: #000;
		text-align: center;
		font-weight: bold;
		font-size: 13pt;
		font-family: serif;
		background-color: #fff9c9;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
	#notice.error {
		background-color: #970707;
		background: -moz-linear-gradient(
			top,
			hsla(0, 90%, 35%, 1),
			hsla(0, 90%, 25%, 1)
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(hsla(0, 90%, 35%, 1)),
			to(hsla(0, 90%, 25%, 1))
		);
	}
	#notice.success {
		background: -moz-linear-gradient(
			top,
			hsla(110, 60%, 55%, 1),
			hsla(110, 40%, 40%, 1)
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(hsla(110, 60%, 55%, 1)),
			to(hsla(110, 50%, 40%, 1))
		);
	}
	#notice a {
		color: #fff9c9;
	}
	.invalid {
		margin: 10px 0;
	}
	.invalid label {
		color: #cc2828;
		font-weight: bold;
		margin: 0;
	}
	.invalid p {
		color: #666;
		margin: 3px 0 0;
	}
	.invalid p:before {
		content: "↑";
		margin-right: 3px;
	}
