/**
 * This file contains unified styles for inputs, text areas, multiple selects
 * and buttons that are shared across the system. It does not contain general
 * label and fieldset definitions that differ in the different areas of Symphony.
 *
 * @since Symphony 2.3
 */


/*--------------------------------------------------------------------------
	Inputs, text areas, selects
--------------------------------------------------------------------------*/

input[type=password],
input[type=text],
textarea,
select[multiple] {
	padding: 2px 3px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-top: 2px;
	width: 100%;
	font-size: 109.09%;
	font-family: inherit;
}

input[type=text] {
	height: 22px;
}

input[type=password]:active,
input[type=password]:focus,
input[type=text]:active,
input[type=text]:focus,
textarea:active,
textarea:focus,
select[multiple]:active,
select[multiple]:focus {
	outline: none;
	border-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

select {
	width: 100%;
	display: block;
	margin-top: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

select[multiple] {
	font-size: 1em;
	width: 100%;
	height: 10em;
	padding: 0;
}

select[size] {
	height: auto;
	max-height: 10em;
}

input[size],
input[type=radio],
input[type=checkbox] {
	display: inline;
	width: auto;
	margin-right: 5px;
}

button,
input[type=submit] {
	font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
}

a,
select,
input[type="reset"], input[type=button], input[type=submit],
textarea,
option,
fieldset {
	outline: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}

/* Errors */

.invalid input[type=password],
.invalid input[type=text],
.invalid select[multiple],
.invalid textarea {
	border-color: #cc3311;
}

.invalid input[type=password]:active,
.invalid input[type=password]:focus,
.invalid input[type=text]:active,
.invalid input[type=text]:focus,
.invalid textarea:active,
.invalid textarea:focus {
	border-color: #9d270d;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------------------------------------
	Buttons
--------------------------------------------------------------------------*/

input[type=submit],
button,
.button {
	display: inline-block;
	min-height: 20px;
	margin-left: 10px;
	padding: 0 10px;
	background-color: #efefed; color: rgba(85, 85, 85, 0.95);
	background-image: -webkit-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -moz-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -ms-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: -o-linear-gradient(top, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	background-image: linear-gradient(to bottom, #fbfbfa 0%, #fbfbfa 30%, #e3e3df 100%);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	line-height: 1.85;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
	color: #3c3c3c;
	border-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 0 0 1px 2px rgba(77, 120, 180, 0.1);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 0 0 1px 2px rgba(77, 120, 180, 0.1);
	cursor: pointer;
}

input[type=submit].selected,
button.selected,
.button.selected {
	background-image: -webkit-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:	 -moz-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:	  -ms-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:	   -o-linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	background-image:		  linear-gradient(bottom, #EFEFED 0%, #EFEFED 30%, #E3E3DF 100%);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	color: rgba(0, 0, 0, 0.65);
	border-color: rgba(0, 0, 0, 0.3);
	text-shadow: -1px -1px 1px #fff;
}

textarea[disabled=disabled],
textarea[disabled=disabled]:hover,
textarea[disabled=disabled]:active,
textarea[disabled=disabled]:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:active,
textarea[readonly=readonly]:focus,
input[type=submit][disabled=disabled]:hover,
input[type=submit][disabled=disabled]:active,
input[type=submit][disabled=disabled]:focus,
input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:active,
input[readonly=readonly]:focus,
button[disabled=disabled],
button[disabled=disabled]:hover,
button[disabled=disabled]:active,
button[disabled=disabled]:focus {
	cursor: not-allowed;
	opacity: 0.5;
}

/* Create buttons */

button.create,
.button.create {
	background-color: #83b340;
	background-image: -webkit-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:	 -moz-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:	  -ms-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:	   -o-linear-gradient(top, #92c44d 0%, #92c44d 30%, #78a737 100%);
	background-image:	linear-gradient(to bottom, #92c44d 0%, #92c44d 30%, #78a737 100%);
	border-color: rgba(50, 70, 23, 0.3);
	border-bottom-color: rgba(50, 70, 23, 0.5);
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 1px 1px 1px rgba(50, 70, 23, 0.25);
}

button.create:hover,
button.create:active,
button.create:focus,
.button.create:hover,
.button.create:active,
.button.create:focus {
	border-color: rgba(50, 70, 23, 0.6);
	color: rgba(255, 255, 255, 0.99);
}

/* Delete buttons */

button.delete:hover,
button.delete:active,
button.delete:focus,
.button.delete:hover,
.button.delete:active,
.button.delete:focus {
	background: #dd4422;
	border-color: #bb2211;
	color: rgba(255, 255, 255, 0.99);
}

/* Installer */

.submit input {
	margin-top: 15px;
}

/* "With selected…" menu */

fieldset.apply,
fieldset.apply.inactive:hover {
	background: #fbfbfa;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	display: block;
	float: right;
	height: 1.85em;
	margin: 0;
	min-height: 20px;
	padding: 0;
}

fieldset.apply.inactive {
	opacity: 0.5;
}

fieldset.apply:hover {
	border-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	color: rgb(60, 60, 60);
}

fieldset.apply div {
	text-align: left;
	overflow: hidden;
	float: left;
	background: url(../img/arrows.png) right -14px no-repeat;
}

fieldset.apply:hover div {
	background-position: right 6px;
}

fieldset.applay.inactive div {
	background: right -34px;
}

fieldset.apply select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	/* DavidOliver's note: start: causing outline when selected: */
	background: transparent;
	border: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* DavidOliver's note: end: causing outline when selected: */
	color: rgb(60, 60, 60);
	cursor: pointer;
	display: inline-block;
	line-height: 1.5;
	margin: 0.2em 0 0 0;
	outline: none;
	padding: 0 0 0 0.7em;
	width: 110% !important;
	min-width: 170px;
}

fieldset.apply.inactive select {
	cursor: default;
}

fieldset.apply select:hover {
	background-position: right -16px;
}

fieldset.apply button {
	margin: 0;
	border: none;
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	line-height: 1.85;
	height: 1.85em;
	float: right;
}

fieldset.apply.inactive button,
fieldset.apply.inactive button:hover {
	color: rgba(60, 60, 60, 0.8);
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: default;
}

fieldset.apply:hover button {
	border-left: 1px solid rgba(0, 0, 0, 0.25);
}

/* Single select "With selected…" */

fieldset.apply.single {
	border: none;
}

fieldset.apply.single select {
	display: none;
}

fieldset.apply.single button {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: auto;
	white-space: nowrap;
}

fieldset.apply.single button:before {
	display: none;
}

/* Inline buttons, aligned left */

fieldset input[type=submit],
fieldset button,
fieldset .button {
	margin-left: 0;
	margin-right: 10px;
}

/*--------------------------------------------------------------------------
	Dropdowns
--------------------------------------------------------------------------*/

.suggestions {
	overflow: visible;
}

ul.suggestionlist {
	position: absolute;
	border-radius: 0 0 4px 4px;
	border: 1px solid #c0c0c0;
	border-top: none;
	margin: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
	z-index: 10000;
	max-height: 240px;
	overflow: auto;
	-webkit-transition: max-height .25s ease-out;
	-moz-transition: max-height .25s ease-out;
	-ms-transition: max-height .25s ease-out;
	-o-transition: max-height .25s ease-out;
	transition: max-height .25s ease-out;
	background: #fff;
}

ul.suggestionlist li {
	height: 22px;
	padding: 2px 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #f3f3f3;
}

ul.suggestionlist li:last-of-type {
	border-bottom: none;
}

ul.suggestionlist li.active {
	background: #668ABE;
	color: #fff;
	cursor: pointer;
}

