/**
 * Tabs used to toggle content areas.
 *
 * @since Symphony 2.3
 */

ul.tabs {
	clear: both;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 23px;
	position: relative;
	top: 1px;
	z-index: 10;
}

ul.tabs li {
	list-style-type: none;
	float: left;
	margin: 0 3px 0 0;
	cursor: pointer;
	background: #fafafa;
	border-radius: 4px 4px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom-color: #d5d5d0;
	color: rgba(0, 0, 0, 0.5);
	height: 24px;
	position: relative;
	padding: 4px 10px 0;
	cursor: pointer;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.tabs li:hover {
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom-color: #c4c4c4;
	color: rgba(0, 0, 0, 0.65);
}

ul.tabs .selected,
ul.tabs .invalid.selected,
ul.tabs .invalid.selected:hover {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom-color: #fff;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	z-index: 1000;
}

ul.tabs .selected:before {
	content: "";
	width: 3px;
	height: 3px;
	position: absolute;
	left: -4px;
	bottom: -1px;
	display: block;
	-webkit-border-radius: 0 0 2px 0;
	border-radius: 0 0 2px 0;
	border: none;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

ul.tabs .selected:after {
	content: "";
	width: 3px;
	height: 3px;
	position: absolute;
	right: -4px;
	bottom: -1px;
	display: block;
	-webkit-border-radius: 0 0 0 2px;
	border-radius: 0 0 0 2px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

/* Destructor */

ul.tabs a.destructor,
ul.tabs .selected.invalid a.destructor {
	line-height: 1;
	border-bottom: none;
	color: rgba(0, 0, 0, 0.15);
	text-shadow: 1px 1px #fff;
	padding: 0 0 0 5px;
	margin: 0 -4px 0 0;
}

ul.tabs :hover a.destructor,
ul.tabs .selected.invalid:hover a.destructor {
	color: rgba(0, 0, 0, 0.2);
}

ul.tabs a.destructor:hover,
ul.tabs .selected a.destructor:hover {
	color: rgba(0, 0, 0, 0.5);
}

/* Invalid tabs */

ul.tabs .invalid {
	background: #dd4422;
	border-color: #bb2211;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 1px 1px 1px rgba(187, 34, 17, 1);
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul.tabs .invalid:hover {
	color: rgba(255, 255, 255, 0.9);
}

ul.tabs .invalid a.destructor {
	color: #fb9;
	text-shadow: none;
}

/* Tabs in context area */

#context ul.tabs {
	margin: 20px 0 0 -11px;
}