/**
 * Frames are used in different areas of the system to group content,
 * e. g. in the section or data source editor.
 *
 * @since: Symphony 2.3
 */

.frame {
	margin: 0 0 45px;
	padding: 0;
	list-style: none;
	background: #f5f5f5;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #c5c5c5;
}

.frame.empty {
	border: 1px dashed #b8b8b8;
	height: 30px;
}

.frame::after {
	content: "";
	clear: both;
	display: block;
}

.frame ol,
.frame ul {
	padding: 0;
	margin: 0;
}

/* Headers */

.frame-header {
	position: relative;
	color: #3d3d3d;
	padding: 8px 10px 7px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #dcdcdc;
}

.frame:not(.collapsible) .frame-header {
	box-shadow: 0 1px 4px #e5e5e5;
}

.frame-header h4 {
	display: inline;
	font-weight: bold;
}

.frame-header span {
	margin: 0 0 0 10px;
	font-weight: normal;
	color: #a1a1a1;
}

.frame-header::before {
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	float: left;
	margin: 3px 7px 0 0;
	border-left: 6px solid #b8b8b8;
	border-right: 3px solid #dcdcdc;
}

.frame-header.sidebar::before {
	border-left: 6px solid #dcdcdc;
	border-right: 3px solid #b8b8b8;
}

.highlight .frame-header::before {
	border-left: 6px solid #747474;
	border-right: 3px solid #b9b9b9;
}

.highlight .frame-header.sidebar::before {
	border-left: 6px solid #b9b9b9;
	border-right: 3px solid #747474;
}

/* Content: light scheme */

.frame .content {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

.frame .instance:last-of-type .content {
	border-radius: 0 0 4px 4px;
}

.frame .content::after {
	content: '';
	display: block;
	clear: both;
}

.frame .content fieldset {
	border-top-color: #d0d0d0;
}

/* Content: dark scheme */

.frame.dark .content {
	background: #323230;
	color: #fff;
}

.frame.dark legend {
	background: transparent;
}

.frame.dark i,
.frame.dark ul.tags {
	color: #6f6f6e;
}

.frame.dark fieldset {
	border-top-color: #464644;
}

/*--------------------------------------------------------------------------
	Inline frames (e. g. upload fields)
--------------------------------------------------------------------------*/

span.frame,
fieldset.frame,
.frame.inline {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
}

/*--------------------------------------------------------------------------
	Login
--------------------------------------------------------------------------*/

#login .frame {
	width: 280px;
	margin: 100px auto;
	overflow: visible;
	padding: 10px 10px 15px;
	text-align: left;
}

#login h1 {
	background: #282828;
	color: #fff;
	margin: -11px -11px 15px;
	padding: 18px 11px;
	border-radius: 4px 4px 0 0;
	line-height: 1.5;
}

#login fieldset {
	padding: 0;
}

#login legend {
	display: none;
}

#login .action-link  {
	margin-top: 3px;
	float: left;
}

#login button {
	float: right;
}

/*--------------------------------------------------------------------------
	Controls
--------------------------------------------------------------------------*/

/* Destructor */

.frame .destructor,
.frame .button {
	position: absolute;
	top: 8px;
	right: 10px;
	color: #aeaeae;
	border-bottom: none;
	font-weight: normal;
	margin: 0;
}

.frame .destructor:hover,
.frame .button:hover,
.frame .constructor:hover {
	color: #494949;
}

.frame .disabled {
	color: #adadad;
	cursor: not-allowed;
	opacity: 0.4;
}

/* Applicators */

.frame .apply {
	clear: left;
	cursor: default;
	margin: 10px 0 0;
	text-align: right;
	position: absolute;
	bottom: -35px;
	right: 0;
	border-color: rgba(0, 0, 0, 0.25);
}

.frame .apply:hover {
	border-color: rgba(0, 0, 0, 0.4);
}

.frame .actions {
	margin: 0 0 7px;
	height: 20px;
}

.frame .actions button {
	float: right;
}

/*-----------------------------------------------------------------------------
	Orderables and Selectables
-----------------------------------------------------------------------------*/

.orderable .frame-header {
	cursor: move;
}

.frame .selected,
.frame .ordering {
	background-color: #668abe;
	position: relative;
}

.frame .selected::before,
.frame .selected::after,
.frame .ordering::before,
.frame .ordering::after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 100%;
	background: #4D78B4;
	top: 0;
	left: -1px;
	z-index: 1000;
}

.frame .selected::after,
.frame .ordering::after {
	left: auto;
	right: 0;
}

.frame .ordering + .instance .frame-header {
	border-top: 1px solid #4D78B4;
}

.ordering .frame-header {
	color: #fff;
	background: #5c83ba;
	border-top: 1px solid #4D78B4;
	border-bottom-color: #7093c3;
	cursor: move;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.ordering .frame-header span,
.ordering .frame-header .destructor,
.ordering .content i,
.ordering ul.tags {
	color: #bdcbdd;
}

.ordering .content,
.ordering .content legend {
	background: #668abe;
	color: #fff;
}

.frame.dark .ordering .content,
.frame.dark .ordering .content legend {
	background: #4D78B4;
	color: #fff;
}

.ordering .content input,
.ordering .content textarea {
	border-color: #4b76b1;
}

.ordering .content fieldset {
	border-top-color: #7093c3;
}

.ordering .frame-header::before {
	border-left: 6px solid #cedaea;
	border-right: 3px solid #7c9bc7;
}

.ordering .frame-header.sidebar::before {
	border-left: 6px solid #7c9bc7;
	border-right: 3px solid #cedaea;
}

.frame .highlight {
	background: #e8e8e8;
}

/*-----------------------------------------------------------------------------
	Collapsibles

	The duration of all transitions has to be set to the same time to prevent
	a "jump" in the animation because the class `.js-animate` is removed on 
	the first `transitionend` event.
-----------------------------------------------------------------------------*/

.collapsible .instance {
	-webkit-font-smoothing: subpixel-antialiased !important;
	overflow: hidden;
}

.collapsible .frame-header {
	cursor: pointer;
}

.collapsible .content {
	-webkit-transition: padding 0.25s ease-in;
	-moz-transition: padding 0.25s ease-in;
	-ms-transition: padding 0.25s ease-in;
	-o-transition: padding 0.25s ease-in;
	transition: padding 0.25s ease-in;
	background: #e8e8e8;
}

.collapsible legend {
	background: #e8e8e8;
	padding-right: 5px;
}

.collapsible .js-animate {
	-webkit-transition: max-height 0.25s linear;
	-moz-transition: max-height 0.25s linear;
	-ms-transition: max-height 0.25s linear;
	-o-transition: max-height 0.25s linear;
	transition: max-height 0.25s linear;
}

.collapsed.js-animate {
	-webkit-transition: max-height 0.25s ease-out;
	-moz-transition: max-height 0.25s ease-out;
	-ms-transition: max-height 0.25s ease-out;
	-o-transition: max-height 0.25s ease-out;
	transition: max-height 0.25s ease-out;
}

.collapsed.js-animate .frame-header {
	border-bottom-color: rgba(0, 0, 0, 0);
	-webkit-transition: border-color 0.25s ease-in;
	-moz-transition: border-color 0.25s ease-in;
	-ms-transition: border-color 0.25s ease-in;
	-o-transition: border-color 0.25s ease-in;
	transition: border-color 0.25s ease-in;
}

.collapsed .content {
	padding-top: 0;
}

/*-----------------------------------------------------------------------------
	Duplicators
-----------------------------------------------------------------------------*/

#fields,
.duplicator {
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.duplicator ol {
	border-radius: 4px;
	overflow: hidden;
	margin-top: -1px;
}

.duplicator .template {
	display: none;
}

/*-----------------------------------------------------------------------------
	Invalid states
-----------------------------------------------------------------------------*/

.invalid {
	background: #eb6347;
	border: 1px solid #c31;
	padding: 10px;
	margin: 0 0 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	color: #fff;
	border-radius: 4px;
}

.invalid p {
	clear: both;
	margin: 0;
}

.invalid p,
.invalid a {
	color: rgba(255, 255, 255, 0.7);
}

.invalid a:hover {
	color: #fff;
}

.invalid label {
	margin-bottom: 10px;
}

.invalid i {
	color: rgba(255, 255, 255, 0.5);
}

/* Errors */

.conflict.collapsed .frame-header {
	background: #fff9a2;
}

.conflict.ordering .frame-header {
	background: none;
}

.conflict.collapsed .frame-header span,
.conflict.collapsed .destructor {
	color: #BD7053;
}

.conflict.collapsed .frame-header::before {
	border-left: 6px solid #BD7053;
	border-right: 3px solid #E7A973;
}

.conflict.collapsed .frame-header.sidebar::before {
	border-left: 6px solid #E7A973;
	border-right: 3px solid #BD7053;
}

/*--------------------------------------------------------------------------
	Error messages
--------------------------------------------------------------------------*/

#error,
#fatalerror {
	padding: 100px 50px;
}

#error .frame,
#fatalerror .frame {
	display: block;
	min-width: 500px;
	max-width: 800px;
	margin: 0 auto;
	overflow: visible;
}

#error .frame::after,
#fatalerror .frame::after {
	content: "";
	display: block;
	clear: both;
}

#error .frame {
	border: 1px solid #b8b8b8;
	background-color: #f5f5f3;
	text-align: left;
	box-shadow: 0 1px 2px #e5e5e5;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

#fatalerror .frame {
	padding: 10px 0;
}

#fatalerror .frame pre {
	font: 100%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}

#fatalerror .frame pre,
#fatalerror .frame ul ul {
	background: #fefefe;
	padding: 0 0 10px;
	margin: 0 -10px;
	overflow: auto;
}

#fatalerror .frame ul ul li {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	line-height: 1.8;
	padding: 0 10px;
	white-space: nowrap;
}

#fatalerror .frame ul ul li.full {
	white-space: normal;
}

#fatalerror .frame ul ul:first-child li:first-child {
	border-top: none;
}

#fatalerror .frame .error {
	background-color: #fff9a2;
	color: #bd7053;
}
#fatalerror .frame .error b {
	background: rgba(167, 31, 45, 0.7);
	color: #fff;
	display: inline-block;
	line-height: 1.8;
	margin: -2px 0 -1px;
	padding: 2px 0 1px;
}

#fatalerror .frame code a {
	margin: 0;
}

#fatalerror .frame ul ul li strong,
#fatalerror .frame ul ul li em {
	font: 100%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
	color: rgba(0, 0, 0, 0.5);
	font-style: normal;
}

#fatalerror .frame .content {
	background: #fefefe;
	padding-bottom: 0;
}

#fatalerror .frame .content:last-of-type ul {
	border-radius: 0 0 4px 4px;
}
